﻿@model Order

@inject IProductService iProduct
@inject IOrderPromotionService iOrderPromotion

@{
    Dictionary<int, string> DicName = new Dictionary<int, string>();
}
<div class="card order-scoll" style="overflow: scroll; display: flex">
    <div class="card-header">
        <h2 class="card-title">Thông tin đơn hàng</h2>
    </div>
    <div class="card-body row">
        @{Model.Name = String.IsNullOrEmpty(Model.Name) ? "Khách vãn lai" : Model.Name; }
        <div class="col-md-8 col-xs-12 mb-1">
            Mã đơn hàng : @Model.Code <br />
            Ngày tạo    : @Model.CreatedDate.ToString("dd/MM/yyyy HH:mm") <br />
            Người đặt   : @Model.Name <br />
            Điện thoại  : @Model.Phone <br />
            Email       : @Model.Email  <br />
            Địa chỉ     : @Model.Address
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="badge p-2">@Model.Ref</div>
            <div class="row mt-1">
                <div class="col-md-6 col-xs-12">
                    @{
                        var lstOrder = CORE.DATA.EnumHelper.ToList(typeof(CORE.DATA.Enums.StatusOrder));
                    }
                    <select asp-for="Status" class="form-control" id="status">
                        @foreach (KeyValuePair<Enum, string> item in lstOrder)
                        {
                            int val = (int)(CORE.DATA.Enums.SortFieldProduct)item.Key;
                            <option value="@val">@item.Value</option>
                        }
                    </select>
                </div>
                <div class="col-md-6 col-xs-12">
                    <input id="OrderId" value="@Model.Id" type="hidden" />

                </div>

            </div>
            <button id="print-order" type="button" class="btn btn-outline-primary mt-1">In Hóa đơn</button>
        </div>
    </div>
    <div class="card-header">
        <h2 class="card-title">Chi tiết đơn hàng</h2>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr>
                    <th style="min-width:250px">Tên sản phẩm</th>
                    <th style="min-width:100px">Số lượng</th>
                    <th style="min-width:150px">Giá</th>

                    <th style="min-width:150px">Thành tiền</th>
                </tr>
                @if (Model.OrderDetails != null)
                {
                    DicName = iProduct.GetNameById(Model.OrderDetails.Select(x => x.ProductId).Distinct().ToList());
                    foreach (var item in Model.OrderDetails)
                    {
                        <tr>
                            <td>
                                @{
                                    var nameP = DicName.ContainsKey(item.ProductId) ? DicName[item.ProductId] : "SP đã bị xóa";
                                }
                                @nameP
                            </td>
                            <td>
                                @item.Quantity
                            </td>
                            <td>
                                @CORE.UTILITY.MUtility.FomatMoney(item.PriceProduct)
                            </td>
                            <td>
                                @CORE.UTILITY.MUtility.FomatMoney(item.LogPrice)
                            </td>
                        </tr>
                    }
                }
                @{
                    var vouchers = iOrderPromotion.FindAll(x => x.OrderId == Model.Id, new string[] { "Id", "LogPrice", "LogInfo" }).ToList();
                }
                @if (vouchers != null && vouchers.Count > 0)
                {
                    foreach (var item in vouchers)
                    {
                        var json = CORE.APPLICATION.Query.ParseJson.ParsePromotion(item.LogInfo);
                        <tr>
                            <td colspan="2"></td>
                            <td class="text-center">Mã : @json.Code </td>
                            <td>@item.LogPrice</td>
                        </tr>
                    }
                }
                <tr>
                    <td colspan="2"></td>
                    <td class="text-center">Thành tiền </td>
                    <td>@CORE.UTILITY.MUtility.FomatMoney(Model.LogPrice)</td>
                </tr>
            </table>
        </div>

    </div>
</div>

@if (Model.OrderDetails != null)
{
    DicName = iProduct.GetNameById(Model.OrderDetails.Select(x => x.ProductId).Distinct().ToList());
    <div id="order-print">
        <table class="table ">
            <tr>
                <th class="col-md-6">Tên sản phẩm</th>
                <th class="col-md-3">Số lượng</th>
                <th class="col-md-3">Giá</th>
            </tr>
            @foreach (var item in Model.OrderDetails)
            {
                <tr>
                    <td>
                        @{
                            var nameP = DicName.ContainsKey(item.ProductId) ? DicName[item.ProductId] : "SP đã bị xóa";
                        }
                        @nameP
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                    <td>
                        @CORE.UTILITY.MUtility.FomatMoney(item.PriceProduct)
                    </td>
                </tr>
            }

        </table>
    </div>

}
