﻿@section VerdorStyles{
    <!-- BEGIN: Vendor CSS-->

    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/file-uploaders/dropzone.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/tables/datatable/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/tables/datatable/extensions/dataTables.checkboxes.css">
    <!-- END: Vendor CSS-->
}


@section Styles{
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/plugins/file-uploaders/dropzone.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/pages/data-list-view.css">
}
@{
    var lstTr = new List<FieldTable>()
{            
                new FieldTable(){ Name="name", Title = "Họ tên",Class="col-sm-3 col-xs-12"},
                new FieldTable(){ Title = "Điện thoại", Name="phone" ,Sort=false,Class="col-sm-2 col-xs-12" },
                new FieldTable(){ Title = "Loại",Name="type",Sort= false,Class="col-sm-2 col-xs-12"},
                new FieldTable(){ Title = "Ngày sinh",Name="birthday",Sort= true,Class="col-sm-2 col-xs-12"},
                new FieldTable(){ Title = "Thao tác",Name="action",Sort=false,Class="col-sm-1 col-xs-12"},
        };
}


@await Html.PartialAsync("_UcTable", lstTr)
@section Scripts{
    <!-- BEGIN: Page Vendor JS-->
    <script src="/app-assets/vendors/js/extensions/dropzone.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/datatables.buttons.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/datatables.bootstrap4.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/buttons.bootstrap.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/dataTables.select.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/datatables.checkboxes.min.js"></script>
    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Page JS-->

    <script src="~/app/controllers/customer/index.js"></script>
    <script>
        $(document).ready(function () {
            path = "/brand";
            InitData();
        });
    </script>

    <!-- END: Page JS-->
}





