﻿@model Customer

@{
    ViewData["Title"] = "Thêm/sửa khuyến mại";
}




@section VerdorStyles{
    <!-- BEGIN: Vendor CSS-->

    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/forms/select/select2.min.css">
    <!-- END: Vendor CSS-->
    <!-- BEGIN: FileManager CSS-->
    <link rel="stylesheet" href="/lib/jquery-ui/themes/base/theme.css" />
    <link rel="stylesheet" href="/lib/jquery-ui/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="/lib/elfinder/css/elfinder.full.css" />
    <link rel="stylesheet" href="/lib/elfinder/css/theme.css" />
    <link rel="stylesheet" href="/css/elfinder/themes/material/css/theme-gray.css" id="elfinder-theme" />
    <!-- BEGIN: FileManager CSS-->
}
@section Styles{
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/colors/palette-gradient.css">
}
<form id="frmProduct" action="/customer/add" method="post" class="row">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="ActiveBy" />
    <input type="hidden" asp-for="ModifiedBy" />
    <input type="hidden" asp-for="DateCreated" />
    <input type="hidden" asp-for="DateModified" />
    <input type="hidden" asp-for="AppId" />

    <div class="col-8">
        <div class="card ">
            <div class="card-header">
                <h4 class="card-title">Thông tin Chính</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <div class="form form-horizontal">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <label>Họ tên</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input asp-for="Name" type="text" placeholder="Họ tên" required class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <label>Số điện thoại</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input asp-for="Phone" placeholder="Số điện thoại" required class="form-control" />
                                        </div>
                                        <div class="col-md-3">
                                            <label>Email</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input asp-for="Email" placeholder="Email" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <label>Ngày sinh</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input asp-for="Birthday" type="date" placeholder="Ngày sinh" required class="form-control" />
                                        </div>
                                        <div class="col-md-3">
                                            <label>Loại KH</label>
                                        </div>
                                        <div class="col-md-3">
                                            @{
                                                var customers = CORE.DATA.EnumHelper.ToList(typeof(CORE.DATA.Enums.TypeCustomer));
                                            }
                                            <select asp-for="TypeCustomer" class="form-control" id="status">
                                                @foreach (KeyValuePair<Enum, string> item in customers)
                                                {
                                                    int val = (int)(CORE.DATA.Enums.TypeCustomer)item.Key;
                                                    <option value="@val">@item.Value</option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <label>Địa chỉ</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input asp-for="Address" type="text" placeholder="Địa chỉ"  class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" col-4">
        @await Html.PartialAsync("_UCSave")
    </div>
</form>
@section Scripts{
    <!-- BEGIN: Page Vendor JS-->
    <script src="/app-assets/vendors/js/forms/select/select2.full.min.js"></script>
    <!-- BEGIN: Page Vendor JS-->

    <script src="/app-assets/js/scripts/forms/select/form-select2.js"></script>
    <!-- BEGIN: elfinder CSS-->

    <script src="/lib/jquery-ui/jquery-ui.min.js"></script>

    <!-- BEGIN: elfinder CSS-->
    <script>
        $(document).ready(function () {


            $("#frmProduct").submit(function (e) {
                e.preventDefault();

                submitForm($(this));
            });
        });


    </script>
}

