﻿@{ ViewBag.Title = "File Manager"; }

@section Styles{
    <link rel="stylesheet" href="/lib/jquery-ui/themes/base/theme.css" />
    <link rel="stylesheet" href="/lib/jquery-ui/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="/lib/elfinder/css/elfinder.full.css" />
    <link rel="stylesheet" href="/lib/elfinder/css/theme.css" />
    <link rel="stylesheet" href="/css/elfinder/themes/material/css/theme-gray.css" id="elfinder-theme" />

}
<div id="elfinder"></div>
<div id="elfinder_image"></div>
<button type="button" id="set_image" class="btn btn-primary" style="display:none;">Set featured image</button>
<button type="button" id="remove_image" class="btn btn-primary" style="display:none;">Remove featured image</button>
<input type="hidden" class="form-control" name="page_image" id="page_image" />

@section scripts {

    <script src="/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="/lib/elfinder/js/elfinder.full.js"></script>

    <script>
        $(document).ready(function () {

            $("#remove_image").hide();
            $("#set_image").show();

            $("#set_image").click(function (e) {
                var elfinder = $("#elfinder").elfinder({
                    url: '/el-finder/file-system/connector',
                    resizable: false,
                    onlyMimes: ["image"],
                    uiOptions: {
                        // toolbar configuration
                        toolbar: [
                            ["reload"],
                            ["open", "download", "getfile"],
                            ["duplicate", "rename", "edit", "resize"],
                            ["quicklook", "info"],
                            ["search"],
                            ["view", "sort"]
                        ]
                    },
                    getfile: {
                        onlyURL: true,
                        multiple: false,
                        folders: false,
                        oncomplete: ""
                    },
                    handlers: {
                        dblclick: function (event, elfinderInstance) {
                            fileInfo = elfinderInstance.file(event.data.file);

                            if (fileInfo.mime != "directory") {
                                var imgURL = elfinderInstance.url(event.data.file);
                                $("#page_image").val(imgURL);

                                var imgPath = '<img src="' + imgURL + '" id="append-image" style="width:280px;height:auto;background-size:contain;margin-bottom:.9em;background-repeat:no-repeat"/>';
                                $("#elfinder_image").append(imgPath); //add the image to a div so you can see the selected images

                                $("#remove_image").show();
                                $("#set_image").hide();

                                elfinderInstance.destroy();
                                return false; // stop elfinder
                            };
                        },
                        destroy: function () {
                            elfinder.dialog("close");

                        }
                    }
                }).dialog({
                    title: "filemanager",
                    resizable: true,
                    width: 920,
                    height: 500
                });
                $("#remove_image").click(function () {

                    $("#page_image").val("");
                    $("#elfinder_image").find("#append-image").remove(); //remove image from div when user clicks remove image button.

                    $("#remove_image").hide();
                    $("#set_image").show();

                    return false;
                });
            });
        });
    </script>
}