﻿@{
    ViewData["Title"] = "Sản phẩm";
}

@section VerdorStyles{
    <!-- BEGIN: Vendor CSS-->


    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/tables/datatable/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/tables/datatable/extensions/dataTables.checkboxes.css">
    <!-- END: Vendor CSS-->
}


@section Styles{
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/pages/data-list-view.css">
}

@{
    var lstTr = new List<FieldTable>()
{
                new FieldTable(){ Name="image", Title = "Hình ảnh", Class="col-sm-1 "},
                new FieldTable(){ Title = "Tên sản phẩm", Name="name" ,Class="col-sm-2 " },
                new FieldTable(){ Title = "Danh mục",Name="category",Class="col-sm-2 "},
                new FieldTable(){ Title = "Ngày tháng",Name="date",Class="col-sm-2 col-xs-4"},
                new FieldTable(){ Title = "Trạng thái",Name="status",Class="col-sm-1 "},
                new FieldTable(){Title = "Giá tiền",Name="price",Class="col-sm-1"},
                new FieldTable(){ Title = "Thao tác",Name="action",Class="col-sm-1 "},
    };
}

@await Html.PartialAsync("Product/_UcSort")


@await Html.PartialAsync("_UcTable", lstTr)
@section Scripts{
    <!-- BEGIN: Page Vendor JS-->
    <script src="/app-assets/vendors/js/extensions/dropzone.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/datatables.buttons.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/datatables.bootstrap4.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/buttons.bootstrap.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/dataTables.select.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/datatables.checkboxes.min.js"></script>
    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Page JS-->
    <script src="~/app/controllers/product/index.js"></script>

    <script>
        $(document).ready(function () {
            path = "/product";
            InitData();
        });
    </script>
    <!-- END: Page JS-->
}





