﻿@{
    ViewData["Title"] = "Thêm/sửa Sản phẩm";
}

@model CORE.DATA.Entities.Product



@section VerdorStyles{
    <!-- BEGIN: Vendor CSS-->

    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/forms/select/select2.min.css">
    <!-- END: Vendor CSS-->
    <!-- BEGIN: FileManager CSS-->
    <link rel="stylesheet" href="/lib/jquery-ui/themes/base/theme.css" />
    <link rel="stylesheet" href="/lib/jquery-ui/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="/lib/elfinder/css/elfinder.full.css" />
    <link rel="stylesheet" href="/lib/elfinder/css/theme.css" />
    <link rel="stylesheet" href="/css/elfinder/themes/material/css/theme-gray.css" id="elfinder-theme" />
    <!-- BEGIN: FileManager CSS-->
}
@section Styles{
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/colors/palette-gradient.css">
}
<form id="frmProduct" action="/product/add" method="post" class="row">
    @await Html.PartialAsync("InfoProduct/_UcProductInfo", Model)
</form>

@section Scripts{
    <!-- BEGIN: Page Vendor JS-->
    <script src="/app-assets/vendors/js/forms/select/select2.full.min.js"></script>
    <!-- BEGIN: Page Vendor JS-->

    <script src="/app-assets/js/scripts/forms/select/form-select2.js"></script>
    <!-- BEGIN: elfinder CSS-->
    <script src="/lib/tinymce-dist/tinymce.min.js"></script>
    <script src="/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="/lib/elfinder/js/elfinder.full.js"></script>
    <!-- BEGIN: elfinder CSS-->
    <script>
        $(document).ready(function () {
            initTinymce();

            $(document).on("click", ".remove-img", function (e) {
                e.preventDefault();
                $(this).closest(".thumb").remove();
            });
            $(".add-img").on("click", function (e) {
                e.preventDefault();

                $("#elfinder").elFinderBrowser_Show($(this), AddImage);
            });
            $(".add-img-one").on("click", function (e) {
                e.preventDefault();
                $("#elfinder").elFinderBrowser_Show($(this), AddImage_One);
            });
        });
        function AddImage(ele, url) {
            $(ele).closest(".thumb").before('<div class="col-sm-2 thumb pl-0 pr-0"> <img src="' + url + '" class="img-responsive w-100 p-1"> <div class="hover-opaque"> <a href="#" class="remove-img font-large-2"><i class="feather icon-x-circle"></i> </a> </div> <span class="glyphicon glyphicon-star text-center" aria-hidden="true"></span> </div>');
        }
        function AddImage_One(ele, url) {
            $(ele).closest(".thumb").find("img").attr("src", url);
        }

        $("input[name=Price]").focusout(function (e) {
            $("input[name=DiscountPrice]").val($(this).val());
        });

        $("#imageUpload").change(function () {
            readURL(this);
        });

        $("#frmProduct").submit(function (e) {
            e.preventDefault();
            let str = "";

            //Code sử dụng cho bài viết chi tiết
            //$("[x-image=array]").find("img").each(function (index, item) {
            //    var val = $(item).attr("src");
            //    if (val != "/img/upload.png") {
            //        str += val.replace("/Files", "") + ",";
            //    }
            //});
            //$("input[name=AvatarArray]").val(str);

            //loadInfo();
            //Code sử dụng cho bài viết chi tiết

            //Code sử dụng cho affi
            //var valu = $("[x-image=one]").attr("src");
            //if (valu != "/img/upload.png") {
            //    $("input[name=Image]").val(valu.replace("/Files", ""));
            //}



            $("input[type='currency']").each(function () {
                var item = $(this).val().replace(/[^\w\s]/gi, '');
                debugger
                $(this).val(item);
            });

            //Code sử dụng cho affi
            submitForm_ExistImage($(this));



        });

        $(".flex-img").sortable();

    </script>
}

