﻿@using Newtonsoft.Json;

@model CORE.DATA.Entities.Advertisement

@{
    var Infos = JsonConvert.DeserializeObject<List<Block>>(Model.Info ?? "");
    if (Infos == null || !Infos.Any())
    {
        Infos = new List<Block>() { new Block() };
    }
}


@section VerdorStyles{
    <!-- BEGIN: Vendor CSS-->

    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/forms/select/select2.min.css">
    <!-- END: Vendor CSS-->
    <!-- BEGIN: FileManager CSS-->
    <link rel="stylesheet" href="/lib/jquery-ui/themes/base/theme.css" />
    <link rel="stylesheet" href="/lib/jquery-ui/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="/lib/elfinder/css/elfinder.full.css" />
    <link rel="stylesheet" href="/lib/elfinder/css/theme.css" />
    <link rel="stylesheet" href="/css/elfinder/themes/material/css/theme-gray.css" id="elfinder-theme" />
    <!-- BEGIN: FileManager CSS-->

    <style>
        .block-ads > .card:first-child .close-tab {
            display: none;
        }

        @@media only screen and (max-width: 600px) {
            .mt-xs-1{
                margin-top:5px !important;
                width:90% !important;
            }
        }
    </style>
}
@section Styles{
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/colors/palette-gradient.css">
}
<form id="frmProduct" action="/advertisements/add" method="post" class="row">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="DateCreated" />
    <input type="hidden" asp-for="DateModified" />
    <input type="hidden" asp-for="Info" />
    <input type="hidden" asp-for="AppId" />
    <div class="col-md-8 col-xs-12">
        <div class="card ">
            <div class="card-header">
                <h4 class="card-title">Thông tin Chính</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <div class="form form-horizontal">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <label>Mã: </label>
                                        </div>
                                        <div class="col-md-3">
                                            <input asp-for="Code" placeholder="Mã định danh" required class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <label>Tên định danh:</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input asp-for="Name" placeholder="Tên định danh" required class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <label>Ngày bắt đầu:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input asp-for="StartDate" type="date" required class="form-control" />
                                        </div>
                                        <div class="col-md-3">
                                            <label>Ngày kết thúc:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input asp-for="EndDate" type="date" required class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <label>Trạng thái:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <select asp-for="Status" class="form-control">
                                                @await Html.PartialAsync("_UcStatus")
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" id="btn-addTheme" class="btn btn-primary mb-1">Thêm nội dung</button>
        <div class="block-ads">
            @{
                int line = 0;
            }
            @foreach (var item in Infos.OrderBy(x => x.Sort))
            {
                string classT = line == 0 ? "Theme" : "";
                <div class="card @classT">
                    <div class="card-content">
                        <div class="close-tab">
                            <i class="fa fa-close"></i>
                        </div>
                        <div class="card-body">
                            <div class="form form-horizontal">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <div class="col-md-2">
                                                    <label>Tiêu đề:</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input x-name="Name" value="@item.Name" placeholder="Tiêu đề" class="form-control" />
                                                </div>
                                                <div class="col-md-2">
                                                    <label>Đường dẫn:</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input x-name="Url" value="@item.Url" placeholder="Đường dẫn" class="form-control" />
                                                </div>
                                                <div class="col-md-2">
                                                    <select x-name="Status" class="form-control">
                                                        @if (item.Status == CORE.DATA.Enums.Status.Active)
                                                        {
                                                            <option selected value="1"> Hiển thị</option>
                                                            <option value="0"> Ẩn</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="1"> Hiển thị</option>
                                                            <option selected value="0"> Ẩn</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-2">
                                                    <label>Mô tả:</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <textarea x-name="Description" rows="6" placeholder="Mô Tả" class="form-control">@item.Description</textarea>
                                                </div>
                                                <div class="thumb col-md-2 mt-xs-1" style="border:1px dashed;padding-left:0;padding-right:0">
                                                    @{
                                                        string image = "/img/upload.png";
                                                        if (!String.IsNullOrEmpty(item.Avatar))
                                                        {
                                                            image = CORE.UTILITY.MUtility.LoadImage(item.Avatar, true);
                                                        }
                                                    }
                                                    <img x-image="one" x-name="Avatar" src="@image" class="img-responsive w-50 p-1" style="margin:auto;min-height:20px;display:inherit" />
                                                    <div class="hover-opaque">
                                                        <a href="#" class="add-img-one  font-large-2"><i class="fa fa-plus-circle"></i> </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-2">
                                                    <label>Thứ tự:</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <input x-name="Sort" value="@item.Sort" type="number" min="0" placeholder="Thứ tự" class="form-control" />
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                line = line + 1;
            }
        </div>
    </div>
    <div class=" col-md-4 col-xs-12">
        @await Html.PartialAsync("_UCSave")
    </div>
</form>



@section Scripts{
    <!-- BEGIN: Page Vendor JS-->
    <script src="/app-assets/vendors/js/forms/select/select2.full.min.js"></script>
    <!-- BEGIN: Page Vendor JS-->

    <script src="/app-assets/js/scripts/forms/select/form-select2.js"></script>

    <!-- BEGIN: elfinder CSS-->
    <script src="/lib/tinymce-dist/tinymce.min.js"></script>
    <script src="/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="/lib/elfinder/js/elfinder.full.js"></script>
    <!-- BEGIN: elfinder CSS-->

    <script>
        $(document).ready(function () {
            $("#frmProduct").submit(function (e) {
                e.preventDefault();
                var lstObj = [];
                $(".block-ads > .card").each(function () {
                    var Obj = {};
                    $(this).find("[x-name]").each(function (index, item) {
                        if ($(item).attr("x-name") == "Avatar") {
                            var img = $(item).attr("src");
                            if (img !== "/img/upload.png") {
                                Obj["Avatar"] = $(item).attr("src").replace("/Files", "");
                            } else {
                                Obj["Avatar"] = "";
                            }
                        } else {
                            Obj[$(item).attr("x-name")] = $(item).val();
                        }

                    });
                    lstObj.push(Obj);

                });
                $("input[name=Info]").val(JSON.stringify(lstObj));
                submitForm($(this));
            });
            $(document).on("click", ".add-img-one", function (e) {
                e.preventDefault();
                $("#elfinder").elFinderBrowser_Show($(this), AddImage_One);
            });
            $("#btn-addTheme").on("click", function () {

                $(".block-ads").append($(".Theme").clone().removeClass("Theme"));
            });
            $(document).on("click", ".close-tab", function () {
                $(this).closest(".card").remove();
            });
        });
        function AddImage_One(ele, url) {
            $(ele).closest(".thumb").find("img").attr("src", url);
        }
    </script>
}

