﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p>
        Chào {{UserName}}, <br />
        Nhấp vào liên kết sau để đặt lại mật khẩu của bạn. <br /><br />

        <a href="{{Link}}">Đặt lại mật khẩu</a>
</body>
</html>