﻿@model CORE.DATA.Entities.Product

@inject ITypeProductService iTypeProduct
@inject ITypeRecruitmentService iTypeRecruitment
@inject IBaseCache iProduct

<input type="hidden" name="Id" value="@Model.Id" />
<input type="hidden" asp-for="CreatedBy" />
<input type="hidden" asp-for="ModifiedBy" />
<input type="hidden" asp-for="DateCreated" />
<input type="hidden" asp-for="DateModified" />
<input type="hidden" asp-for="ViewCount" />
<input type="hidden" asp-for="Properties" />
@{
    int Type = (int)Model.Type;
    int TypePost = (int)Model.TypePost;
}

<input type="hidden" name="Type" value="@Type" />
<input type="hidden" name="TypePost" value="@TypePost" />
<input type="hidden" asp-for="DatePublished" />
<input type="hidden" asp-for="Sku" />
<input type="hidden" asp-for="Code" />
@*<input type="hidden" asp-for="Description" />*@
<input type="hidden" asp-for="Content" />


<input type="hidden" asp-for="SeoPageTitle" />
<input type="hidden" asp-for="SeoKeywords" />
<input type="hidden" asp-for="SeoDescription" />
<input type="hidden" asp-for="Image" />
<input type="hidden" asp-for="AppId" />
<div class="col-md-8 col-xs-12">
    <div class="card ">
        <div class="card-header">
            <h4 class="card-title">Thông tin Chính</h4>
        </div>
        <div class="card-content">
            <div class="card-body">
                <div class="form form-horizontal">
                    <div class="form-body">
                        <div class="row">
                            @if (Model.Type == CORE.DATA.Enums.TypeContent.Product)
                            {

                                string image = "/img/upload.png";
                                if (!String.IsNullOrEmpty(Model.Image))
                                {
                                    image = CORE.UTILITY.MUtility.LoadImage(Model.Image, false);
                                }

                                <div class="col-12">
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                        </div>
                                        <div class="col-4 col-xs-12  " style="margin:initial">
                                            <div class="avatar-upload">
                                                <div class="avatar-edit">
                                                    <input type='file' name="fileImg" id="imageUpload" accept=".png, .jpg, .jpeg" />
                                                    <label for="imageUpload"></label>
                                                </div>
                                                <div class="avatar-preview">
                                                    <div id="imagePreview" style="background-image: url(@image);">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <input type="hidden" asp-for="Image" />
                            }
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <label>Tiêu đề</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input asp-for="Name" required class="form-control" />
                                    </div>
                                </div>
                            </div>

                            @if (Model.Type == CORE.DATA.Enums.TypeContent.Product)
                            {
                                List<SelectListItem> lstCat = iProduct.AllCateroryByType(Model.TypePost, Model.AppId).Select(x => new SelectListItem() { Text = x.Name, Value = x.Id.ToString() }).ToList();
                                <div class="col-12">
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <label>Danh mục</label>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <select asp-items="@lstCat" required class="select2 form-control" asp-for="ParentId">
                                                    <option>Chọn danh mục</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                var typeP = new TypeProduct();
                                if (Model.Id > 0)
                                    typeP = iTypeProduct.FindById(Model.Id);

                                if (typeP == null)
                                {
                                    typeP = new TypeProduct();
                                }
                                @await Html.PartialAsync("InfoProduct/_UcTypeProductInfo", typeP)
                            }
                            else
                            {
                                <input type="hidden" asp-for="ParentId" />
                            }

                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <label>Mô tả</label>
                                    </div>
                                    <div class="col-md-9">
                                        <textarea placeholder="Nhập mô tả sơ qua về sản phẩm" class="form-control" rows="5" asp-for="Description"></textarea>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">

                                    <div class="col-md-3">
                                        <label>Sắp xếp</label>
                                    </div>
                                    <div class="col-md-3 col-xs-9">
                                        <input asp-for="Order" required min="0" class="form-control" />
                                    </div>


                                    <div class="col-md-3">
                                        <label>Trạng thái</label>
                                    </div>
                                    <div class="col-md-3 col-xs-9">
                                        <select asp-for="Status" class="form-control">
                                            @await Html.PartialAsync("_UcStatus")
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class=" col-md-4 col-xs-12">
    @await Html.PartialAsync("_UCSave")
</div>
