﻿@model TypeProduct
@inject IBaseCache iProduct
@{
    //List<SelectListItem> lstBrand = iProduct.AllBrandByType().Select(x => new SelectListItem() { Text = x.Name, Value = x.Id.ToString() }).ToList();
    //var lstColor = iProduct.AllColor();
}

<input asp-for="AvatarArray" type="hidden" />
<input asp-for="DiscountPercent" type="hidden" />
<input asp-for="BrandId" type="hidden" />
<input asp-for="ColorId" type="hidden" />
<input asp-for="BuyTogether" type="hidden" />

<div class="col-12 mt-2">
    <div class="form-group row">
        <div class="col-md-3">
            <label>Số lượng</label>
        </div>
        <div class="col-md-3">
            <input asp-for="Quantity" required value="@Model.Quantity" type="number" placeholder="Số lượng còn" class="form-control" />
        </div>
        <div class="col-md-3">
            <select asp-for="Unit" class="form-control">
                <option value="0">Chọn đơn vị</option>
                <option value="1">Cái</option>
                <option value="2">Chiếc</option>
            </select>
        </div>
        <div class="col-md-3 " style="margin-top:5px">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" asp-for="VAT" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Giá bao gồm VAT</label>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="form-group row">
        <div class="col-md-3 col-xs-6">
            <label>Giá niêm yết</label>
        </div>
        <div class="col-md-3 col-xs-6">
            <input value=" @Model.Price" name="Price" type="currency" min="0" required placeholder="Giá" class="form-control" />
        </div>
        <div class="col-md-3 col-xs-6">
            <label>Giá khuyến mại</label>
        </div>
        <div class="col-md-3 col-xs-6">
            <input value="@Model.DiscountPrice" name="DiscountPrice" required type="currency" placeholder="Giá đã giảm" class="form-control" />
        </div>
    </div>
</div>

@*<div class="col-12 mt-2">
        <div class="form-group row">
            <div class="col-md-2">
                <label>Thương hiệu</label>
            </div>
            <div class="col-md-10">
                <select asp-items="@lstBrand" required class="select2 form-control" asp-for="BrandId">
                    <option>Chọn thương hiệu</option>
                </select>
            </div>
        </div>
    </div>*@
@*<div class="col-12 mt-2">
        <div class="form-group row">
            <div class="col-md-2">
                <label>Màu sắc</label>
            </div>
            <div class="col-md-10">
                <select data-placeholder="Chọn màu sắc" name="Colors" class="select2 form-control" multiple="multiple">
                    @foreach (var item in lstColor)
                    {
                        Model.ColorId = Model.ColorId ?? "";
                        if (Model.ColorId.Contains(item.Id))
                        {
                            <option selected value="@item.Id">@item.Name</option>
                        }
                        else
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>*@
@*<div class="col-12 mt-2">
        <div class="form-group row">
            <div class="col-md-2">
                <label>Sản phẩm mua kèm</label>
            </div>
            <div class="col-md-10">
                <input asp-for="BuyTogether" type="text" placeholder="Sản phẩm mua kèm (Id sản phẩm ngăn cách bằng đấu ',')" class="form-control" />
            </div>
        </div>
    </div>*@