﻿@{
    ViewData["Title"] = "Thêm/sửa khuyến mại";
}
@model CORE.DATA.Entities.Promotion



@section VerdorStyles{
    <!-- BEGIN: Vendor CSS-->

    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/forms/select/select2.min.css">
    <!-- END: Vendor CSS-->
    <!-- BEGIN: FileManager CSS-->
    <link rel="stylesheet" href="/lib/jquery-ui/themes/base/theme.css" />
    <link rel="stylesheet" href="/lib/jquery-ui/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="/lib/elfinder/css/elfinder.full.css" />
    <link rel="stylesheet" href="/lib/elfinder/css/theme.css" />
    <link rel="stylesheet" href="/css/elfinder/themes/material/css/theme-gray.css" id="elfinder-theme" />
    <!-- BEGIN: FileManager CSS-->
}
@section Styles{
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/colors/palette-gradient.css">
}
<form id="frmProduct" action="/promotions/add" method="post" class="row">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="CreatedBy" />
    <input type="hidden" asp-for="ModifiedBy" />
    <input type="hidden" asp-for="DateCreated" />
    <input type="hidden" asp-for="DateModified" />
    <input type="hidden" asp-for="AppId" />
    <input type="hidden" asp-for="IsVoucher" />
    <div class="col-8">
        <div class="card ">
            <div class="card-header">
                <h4 class="card-title">Thông tin Chính</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <div class="form form-horizontal">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <label>Mã khuyển mại</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input asp-for="Code" placeholder="Mã khuyến mại" required class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <label>Tiêu đề</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input asp-for="Name" placeholder="Tên khuyến mại" required class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <label>Bắt đầu</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input asp-for="StartDate" type="date" placeholder="Ngày bắt đầu" required class="form-control" />
                                        </div>
                                        <div class="col-md-3">
                                            <label>Kết thúc</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input asp-for="EndDate" type="date" placeholder="Ngày kết thúc" required class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <label>Số tiền</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input asp-for="Discounts" type="number" placeholder="Số tiền" min="0" required class="form-control" />
                                        </div>
                                        <div class="col-md-3">
                                            <label>Hình thức</label>
                                        </div>
                                        <div class="col-md-3">
                                            <select asp-for="Status" class="form-control">
                                                <option value="1">Giảm tiền</option>
                                                <option value="2">Giảm %</option>
                                                <option value="3">Quà tặng</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <label>Số tiền tối đa</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input asp-for="MaxValue" placeholder="Số tiền tối đa" min="0" required class="form-control" />
                                        </div>
                                        <div class="col-md-3">
                                            <label>Trạng thái</label>
                                        </div>
                                        <div class="col-md-3">
                                            <select asp-for="Status" class="form-control">
                                                @await Html.PartialAsync("_UcStatus")
                                            </select>
                                        </div>
                                    </div>
                                    @*<div class="form-group row">
                                            <div class="col-md-3">
                                                <label>Loại khuyển mại:</label>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="custom-control custom-checkbox mt-1">
                                                    <input type="checkbox" class="custom-control-input" asp-for="IsVoucher" id="chk_main">
                                                    <label class="custom-control-label" for="chk_main">Cho phép người dùng nhập (Voucher)</label>
                                                </div>
                                            </div>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" col-4">
        @await Html.PartialAsync("_UCSave")
    </div>
</form>
@section Scripts{
    <!-- BEGIN: Page Vendor JS-->
    <script src="/app-assets/vendors/js/forms/select/select2.full.min.js"></script>
    <!-- BEGIN: Page Vendor JS-->

    <script src="/app-assets/js/scripts/forms/select/form-select2.js"></script>
    <!-- BEGIN: elfinder CSS-->

    <script src="/lib/jquery-ui/jquery-ui.min.js"></script>

    <!-- BEGIN: elfinder CSS-->
    <script>
        $(document).ready(function () {


            $("#frmProduct").submit(function (e) {
                e.preventDefault();

                submitForm($(this));
            });
        });


    </script>
}

