﻿
@model List<KeyValuePair<string, string>>

@if (Model != null && Model.Any())
{
    <div class="card-body">

        <ul class="activity-timeline timeline-left list-unstyled">
            @foreach (var item in Model)
            {
                <li>
                    <div class="timeline-icon bg-primary">
                        <i class="feather icon-plus font-medium-2 align-middle"></i>
                    </div>
                    <div class="timeline-info">
                        <p class="font-weight-bold mb-0">Số lượng bán : @item.Value</p>
                        <span class="font-small-3">@item.Key</span>
                    </div>
                </li>
            }
        </ul>
    </div>
}
else
{
    <div class="card-body">
        <div class="alert alert-danger">Không có sản phẩm nào</div>
    </div>
}

