﻿.table tr > th {
    text-transform: uppercase;
}

.toast-info {
    background-color: #00cfe8;
    min-width: 200px;
}

#toast-container > .toast.toast-info {
    max-width: 100%;
    width: 400px;
}

    #toast-container > .toast.toast-info .btn-default {
        border: 1px solid #ffffff;
        color: #ffffff;
        margin-left: 10px;
    }

.notice-upload-image {
    background: #dcebf5;
    border: 1px dashed #bdd0dc;
    padding: 8px 0px;
    text-align: center;
    color: #436c87;
    margin-bottom: 4px;
    font-size: 12px;
    width: 100%;
}

.thumb {
    position: relative;
    margin: 0 auto;
}

.hover-opaque {
    background: #000;
    opacity: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
}

    .hover-opaque i {
        position: absolute;
        text-align: center;
        color: red;
        top: 50%;
        right: 50%;
        margin: -20px;
        /* border: 1px solid green;*/
    }

.glyphicon {
    position: absolute;
    color: #fff;
    top: 50%;
    right: 50%;
    font-size: 2em;
    margin: -15px;
    opacity: 0;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
}

.thumb:hover .hover-opaque {
    opacity: 0.8;
}

.thumb:hover .glyphicon {
    opacity: 1;
}



.thumb-caption {
    background: #fff;
    border-color: #E6E6E6;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    color: #4E4E54;
    padding: 10px;
}

.flex-img {
    float: left;
}

.thumb {
    padding: 10px;
    float: left;
}

.add-img i {
    color: green;
}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
    width: 32px;
    height: 32px;
}

    input[type="color"]::-webkit-color-swatch-wrapper {
        padding: 0;
    }

    input[type="color"]::-webkit-color-swatch {
        border: none;
    }

table.data-list-view.dataTable tbody td, table.data-thumb-view.dataTable tbody td {
    padding-left: 5px;
    padding-right: 5px;
}

.form-horizontal label {
    padding-top: 10px;
    display: block;
    font-size: 0.9rem;
}

.act-table {
    font-size: 15px;
}

    .act-table > span {
        margin-right: 10px;
        cursor: pointer;
    }

/*table.dataTable thead .sorting_disabled:before {
    font-family: 'feather';
    content: "\e83c";
    padding-right: 2px;
}

*/ /*table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_disabled:after {
    font-family: 'feather';
    content: none;
}

table.data-list-view.dataTable thead th, table.data-thumb-view.dataTable thead th {
    padding: 0.714rem 0.5rem;
}
*/
.actions-select {
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

    .actions-select > .custom-radio {
        margin-left: 5px;
        padding-top: 10px;
    }


.custom-checkbox > label.custom-control-label {
    padding: 0;
}

table.data-list-view.dataTable thead th, table.data-thumb-view.dataTable thead th {
    padding: 0.5rem;
    font-weight: 600;
}

@media only screen and (max-width: 768px) {
    .table-responsive .top {
        flex-direction: column;
    }

    .data-thumb-view-header .table-responsive .top .dataTables_filter, .data-thumb-view-header .table-responsive .top .dataTables_length {
        width: 100%;
    }


    table.data-list-view.dataTable thead th, table.data-thumb-view.dataTable thead th {
        min-width: 100px;
    }
    .actions-select {
        min-width: initial
    }
}

.thumb:hover {
    background-color: #fbebeb
}

.close-tab {
    font-size: 25px;
    color: red;
    position: absolute;
    left: 10px;
}

table.data-list-view.dataTable thead .sorting_asc, table.data-list-view.dataTable thead .sorting_desc, table.data-list-view.dataTable thead .sorting, table.data-thumb-view.dataTable thead .sorting_asc, table.data-thumb-view.dataTable thead .sorting_desc, table.data-thumb-view.dataTable thead .sorting {
    padding-left: 25px;
}

    table.data-list-view.dataTable thead .sorting_asc:before, table.data-list-view.dataTable thead .sorting_desc:before, table.data-list-view.dataTable thead .sorting:before, table.data-thumb-view.dataTable thead .sorting_asc:before, table.data-thumb-view.dataTable thead .sorting_desc:before, table.data-thumb-view.dataTable thead .sorting:before {
        top: 0.3rem;
    }

    table.data-list-view.dataTable thead .sorting_asc:after, table.data-list-view.dataTable thead .sorting_desc:after, table.data-list-view.dataTable thead .sorting:after, table.data-thumb-view.dataTable thead .sorting_asc:after, table.data-thumb-view.dataTable thead .sorting_desc:after, table.data-thumb-view.dataTable thead .sorting:after {
        top: 0.7rem;
    }


::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: #a8bbbf;
    }


.dtr-title{
    display:none;
}

.congratulation-medal {
    position: absolute;
    top: 0;
}
.congratulation-medal {
    right: 37px;
}


.avatar-upload {
    position: relative;
    max-width: 205px;
   /* margin: 50px auto;*/
}

    .avatar-upload .avatar-edit {
        position: absolute;
        right: 12px;
        z-index: 1;
        top: 10px;
    }

        .avatar-upload .avatar-edit input {
            display: none;
        }

            .avatar-upload .avatar-edit input + label {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                border-radius: 100%;
                background: #FFFFFF;
                border: 1px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all .2s ease-in-out;
            }

                .avatar-upload .avatar-edit input + label:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }

                .avatar-upload .avatar-edit input + label:after {
                    content: "\f040";
                    font-family: 'FontAwesome';
                    color: #757575;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: auto;
                }

    .avatar-upload .avatar-preview {
        width: 192px;
        height: 192px;
        position: relative;
        border-radius: 20%;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
    }

        .avatar-upload .avatar-preview > div {
            width: 100%;
            height: 100%;
            border-radius: 20%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }


 .card-statistics .statistics-body {
    padding: 3.5rem 2.4rem !important;
}
 .icon-status{
     padding-right:2px;
     
 }

.avatar-upload .avatar-edit i {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 12%);
    cursor: pointer;
    font-weight: normal;
    transition: all .2s ease-in-out;
}

    .avatar-upload .avatar-edit i.icon-download-cloud:before {
       
        color: #757575;
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
        text-align: center;
        margin: auto;
    }

.overlay {
    display: none;
    position: fixed;
    z-index: 5555;
    top: 0;
    left: 0;
    height: 100%;
    opacity: .6;
    width: 100%;
    background: #000;
}

    .overlay .loading-text {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: -50px;
        font-size: 27px;
        color: #fff;
        max-width: 100px;
    }

        .overlay .loading-text img {
            width: 100%;
            height: auto;
        }


#order-print {
    display: none;
}

@media print {
    #order-print {
        display: block;
    }
}