﻿@{
    Layout = "_Layout_User";
}


<section class="row flexbox-container">
    <div class="col-xl-7 col-md-9 col-10 d-flex justify-content-center px-0">
        <div class="card bg-authentication rounded-0 mb-0">
            <div class="row m-0">
                <div class="col-lg-6 d-lg-block d-none text-center align-self-center">
                    <img src="/app-assets/images/pages/forgot-password.png" alt="branding logo">
                </div>
                <div class="col-lg-6 col-12 p-0">
                    <div class="card rounded-0 mb-0 px-2 py-1">
                        <div class="card-header pb-1">
                            <div class="card-title">
                                <h4 class="mb-0">Khôi phục mật khẩu</h4>
                            </div>
                        </div>
                        <p class="px-2 mb-0">Vui lòng nhập Email của bạn. Chúng tôi sẽ gửi hướng dẫn về cách đặt lại mật khẩu của bạn.</p>
                        <div class="card-content">
                            <div class="card-body">
                                <form id="forgetPass" method="post" action="/submit-quen-mat-khau">
                                    <div class="form-label-group">
                                        <input type="email" id="Email" required class="form-control" placeholder="Email">
                                    </div>
                                    <div class="float-md-left d-block mb-1">
                                        <a href="/dang-nhap" class="btn btn-outline-primary btn-block px-75">Quay lại đăng nhập</a>
                                    </div>
                                    <div class="float-md-right d-block mb-1">
                                        <button type="submit" class="btn btn-primary btn-block px-75">Khôi phục mật khẩu</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="/app/controllers/login/index.js"></script>
    <script>
        var login = new forgetController();
        login.initialize();
    </script>

}