﻿@{
    Layout = "_Layout_User";

    ViewData["Title"] = "ResetPassword";
}

@model CORE.APPLICATION.ViewModels.ResetPasswordVM

<section class="row flexbox-container">
    <div class="col-xl-7 col-10 d-flex justify-content-center">
        <div class="card bg-authentication rounded-0 mb-0 w-100">
            <div class="row m-0">
                <div class="col-lg-6 d-lg-block d-none text-center align-self-center p-0">
                    <img src="/app-assets/images/pages/reset-password.png" alt="branding logo">
                </div>
                <div class="col-lg-6 col-12 p-0">
                    <div class="card rounded-0 mb-0 px-2">
                        <div class="card-header pb-1">
                            <div class="card-title">
                                <h4 class="mb-0">Đặt lại mật khẩu</h4>
                            </div>
                        </div>
                        <p class="px-2">Nhập thông tin mật khẩu của bạn</p>
                        <div class="card-content">
                            <div class="card-body pt-1">
                                <form id="reset-pass" action="/m-reset-password" method="post">
                                    <input type="hidden" asp-for="UserId" class="form-control" />
                                    <input type="hidden" asp-for="Token" class="form-control" />

                                    <fieldset class="form-label-group">
                                        <input type="password" class="form-control" asp-for="NewPassword" placeholder="Password mới" required>

                                    </fieldset>

                                    <fieldset class="form-label-group">
                                        <input type="password" class="form-control"  asp-for="ConfirmNewPassword" placeholder="Nhập lại PassWord" required>

                                    </fieldset>
                                    <div class="row pt-2">
                                        <div class="col-12 col-md-6 mb-1">
                                            <a href="/dang-nhap" class="btn btn-outline-primary btn-block px-0">Quay lại trang đăng nhập</a>
                                        </div>
                                        <div class="col-12 col-md-6 mb-1">
                                            <button type="submit" class="btn btn-primary btn-block px-0">Cập nhật</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="/app/controllers/login/index.js"></script>
    <script>
        var login = new resetController();
        login.initialize();
    </script>

}