﻿@{
    ViewData["Title"] = "Trang chủ";
}

@section VerdorStyles{
    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/charts/apexcharts.css">
    <!-- END: Vendor CSS-->
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/pages/dashboard-ecommerce.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/pages/card-analytics.css">

}

@inject IOrderService _orderService


@{
    var date = DateTime.Now;
    var Model = new HomePageVM();
    var AppId = this.User.FindFirst(CORE.UTILITY.SystemConstants.UserClaim.AppId).Value;
    var Name = this.User.FindFirst(CORE.UTILITY.SystemConstants.UserClaim.FullName).Value;
}
<!-- Dashboard Ecommerce Starts -->
<section id="dashboard-ecommerce">
    <cache enabled="true" vary-by="Status_@AppId" expires-after="@TimeSpan.FromMinutes(10)">
        <div class="row">
            <div class="col-lg-3 col-xs-12">
                <div class="card card-congratulation-medal">
                    <div class="card-body">
                        <h5>Xin chào 🎉 @Name.ToUpper()!</h5><p class="card-text font-small-3"> Chào mừng bạn đến với CMS MiMenu </p>
                        <div class="d-flex flex-column w-100 ">
                            <a href="/product/info" class="btn btn-outline-primary "> Tạo sản phẩm </a>
                            <a href="/order" class="btn btn-outline-primary mt-1"> Xem đơn hàng </a>
                        </div>
                        @*<img src="/img/badge.0fa134b5.svg" alt="Medal Pic" class="congratulation-medal">*@
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-xs-12">
                <div class="card card-statistics">
                    @{
                        Model.StatusOrder = _orderService.StatisticsByStatus(new DateTime(date.Year, date.Month, 1), DateTime.Now, AppId);
                        var lstOrder = CORE.DATA.EnumHelper.ToList(typeof(CORE.DATA.Enums.StatusOrder));
                        var ModelStatus = Model.StatusOrder;
                    }
                    <div class="card-header">
                        <h4 class="card-title">Thống kê trạng thái đơn hàng</h4>
                        <p class="card-text font-small-2 mr-25 mb-0"> Cập nhật trong tháng </p>
                    </div>
                    <div class="card-body statistics-body">

                        <div class="row">
                            @foreach (KeyValuePair<Enum, string> item in lstOrder)
                            {
                                var key = (int)(CORE.DATA.Enums.StatusOrder)item.Key;
                                <div class="col-sm-6 col-xl-3 mb-2 mb-xl-0">
                                    <div class="media">
                                        <div class="media-aside mr-2 align-self-start">
                                            @Html.Raw(CORE.APPLICATION.Query.UiHelper.ShowHtmlStatusOrderHome((CORE.DATA.Enums.StatusOrder)item.Key))
                                        </div>
                                        <div class="media-body my-auto">
                                            @if (ModelStatus.ContainsKey(key))
                                            {
                                                double total = ModelStatus[key];
                                                <h5 class="font-weight-bolder mb-0">@item.Value</h5>
                                                <p class="card-text font-small-3 mb-0">  Số lượng: <span class="sl-@key.ToString()"> @total</span></p>
                                            }
                                            else
                                            {
                                                <h5 class="font-weight-bolder mb-0">@item.Value</h5>
                                                <p class="card-text font-small-3 mb-0">  Số lượng: <span class="sl-@key.ToString()"> 0</span></p>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </cache>
    <cache enabled="true" vary-by="Status_@AppId" expires-after="@TimeSpan.FromMinutes(30)">
        <div class="row">
            @{
                var dataSales = _orderService.StatisticalByWeek(DateTime.Now, AppId);
            }
            <script>
                var dataChartSales = [@String.Join(",", dataSales.Values)];
                var dataTxtChartSales ='@String.Join(",", dataSales.Keys)';
            </script>
            <!-- Bar Chart -->
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thống kê số lượng đơn hàng</h4>
                        <div id="drop-date-sales" class="dropdown chart-dropdown " style="z-index:100">
                            <button class="btn btn-sm border-0 dropdown-toggle p-0 waves-effect waves-light" type="button" id="dropdownItem5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                7 ngày trước
                            </button>
                            <div class="dropdown-menu dropdown-menu-right " aria-labelledby="dropdownItem5" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(259px, 17px, 0px);">
                                <a data-href="/thong-ke-don-1" class="dropdown-item" href="#">7 ngày trước</a>
                                <a data-href="/thong-ke-don-2" class="dropdown-item" href="#">Tháng này</a>
                                <a data-href="/thong-ke-don-3" class="dropdown-item" href="#">Năm nay</a>
                                <a data-href="/thong-ke-don-4" class="dropdown-item" href="#">Năm trước</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div id="bar-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            @{
                var dataRevenue = _orderService.StatisticalRevenueByWeek(DateTime.Now, AppId);
            }
            <script>
                var dataChartRevenue = [@String.Join(",", dataRevenue.Values)];
                 var dataTxtChartRevenue ='@String.Join(",", dataRevenue.Keys)';
            </script>
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thống kê doanh thu theo tháng</h4>
                        <div id="drop-date-revenue" class="dropdown chart-dropdown " style="z-index:100">
                            <button class="btn btn-sm border-0 dropdown-toggle p-0 waves-effect waves-light" type="button" id="dropdownItem5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                7 ngày trước
                            </button>
                            <div class="dropdown-menu dropdown-menu-right " aria-labelledby="dropdownItem5" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(259px, 17px, 0px);">
                                <a data-href="/thong-ke-doanh-so-1" class="dropdown-item" href="#">7 ngày trước</a>
                                <a data-href="/thong-ke-doanh-so-2" class="dropdown-item" href="#">Tháng này</a>
                                <a data-href="/thong-ke-doanh-so-3" class="dropdown-item" href="#">Năm nay</a>
                                <a data-href="/thong-ke-doanh-so-4" class="dropdown-item" href="#">Năm trước</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div id="bar-chart-1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </cache>
    <div class="row">
        <cache enabled="true" vary-by="TopSale_@AppId" expires-after="@TimeSpan.FromMinutes(10)">
            @{
                Model.Top5Sale = _orderService.Top5Sale(new DateTime(date.Year, date.Month, 1), DateTime.Now, AppId);
            }
            <div class="col-lg-4 col-12">
                <div class="card">
                    <div class="card-header" id="drop-top-5">
                        <h4 class="card-title">Top 5 sản phẩm mua nhiều</h4>
                        <div class="dropdown chart-dropdown " style="z-index:100" id="data-type">
                            <button data-type="1" class="btn btn-sm border-0 dropdown-toggle p-0 waves-effect waves-light" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Theo đơn hàng
                            </button>
                            <div class="dropdown-menu dropdown-menu-right " aria-labelledby="dropdownItem5" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(259px, 17px, 0px);">
                                <a data-href="1" class="dropdown-item " href="#">Theo đơn hàng</a>
                                <a data-href="2" class="dropdown-item" href="#">Theo doanh thu</a>
                            </div>
                        </div>
                        <div class="dropdown chart-dropdown" id="data-date" style="z-index:100">
                            <button data-date="@DateTime.Today.Month" class="btn btn-sm border-0 dropdown-toggle p-0 waves-effect waves-light" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Tháng này
                            </button>
                            <div class="dropdown-menu dropdown-menu-right " aria-labelledby="dropdownItem5" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(259px, 17px, 0px);">
                                @for (int i = 1; i <= 12; i++)
                                {
                                    <a data-href="@i" class="dropdown-item" href="#">Tháng @i</a>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="card-content" id="top-product">
                        @await Html.PartialAsync("Home/_UcTop5Sale", Model.Top5Sale)
                    </div>
                </div>
            </div>
        </cache>
        <cache enabled="true" vary-by="TopOrder_@AppId" expires-after="@TimeSpan.FromMinutes(5)">
            @{
                Model.Top5Order = _orderService.Top5Order(AppId);
            }
            <div class="col-lg-8 col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="mb-0">Đơn hàng mới</h4>
                        <a href="/order">Xem thêm</a>
                    </div>
                    <div class="card-content">
                        <div class="table-responsive mt-1">
                            <table class="table table-hover-animation mb-0 ">
                                <thead>
                                    <tr>
                                        <th class="text-center">Trạng thái</th>
                                        <th>Đơn hàng</th>
                                        <th>Điện thoại</th>
                                        <th>Giá tiền</th>
                                        <th>Ngày tạo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Top5Order)
                                    {
                                        <tr>
                                            <td class="text-center">@Html.Raw(CORE.APPLICATION.Query.UiHelper.ShowHtmlStatusOrder(item.Status, item.Id))</td>
                                            <td>#@item.Code</td>
                                            <td>@item.Phone</td>
                                            <td>@CORE.UTILITY.MUtility.FomatMoney(item.LogPrice)</td>
                                            <td>@item.CreatedDate.ToString("dd/MM/yyyy HH:mm")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </cache>
    </div>
</section>
<!-- Dashboard Ecommerce ends -->
@section Scripts{
    <!-- BEGIN: Page Vendor JS-->
    <script src="/app-assets/vendors/js/charts/apexcharts.min.js"></script>
    <script src="/app-assets/vendors/js/extensions/tether.min.js"></script>
    <script src="/app-assets/vendors/js/extensions/shepherd.min.js"></script>
    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Page JS-->

    <script src="/app/controllers/home/chartsetup.js"></script>

    <script src="/app/controllers/home/index.js"></script>

    @*<script src="/app-assets/js/scripts/pages/dashboard-ecommerce.js"></script>*@
    <!-- END: Page JS-->
}
