﻿@{
    ViewData["Title"] = "Danh mục";
}
@model List<TreeModel>
@section VerdorStyles{
    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/file-uploaders/dropzone.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/tables/datatable/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/tables/datatable/extensions/dataTables.checkboxes.css">
    <!-- END: Vendor CSS-->
}


@section Styles{
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/plugins/file-uploaders/dropzone.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/pages/data-list-view.css">
    <link href="/css/jquery.treegrid.css" rel="stylesheet" />

    <style>
        .tr-bg {
            background: #fff;
        }

        .first-tree {
            border-top: 1px dashed #deb4b4;
        }

        .item-tree {
            float: left;
            margin-top: 2px;
            margin-right: 10px;
        }
    </style>
}

<!-- Data list view starts -->
<section id="data-thumb-view" class="data-thumb-view-header">

    <!-- dataTable starts -->
    <div class="card">
        <div class="card-body">
            <div class="action-btns">
                <div class="btn-dropdown mr-1 mb-1">
                    <div class="btn-group dropdown actions-dropodown">
                        <a href="@ViewBag.Url" class="btn btn-outline-primary" tabindex="0"><span><i class="feather icon-plus"></i> Thêm mới</span></a>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table id="treePage" class="table  data-thumb-view">
                    <thead>
                        <tr style="background-color: #f8f8f8;">
                            <th>Tên danh mục</th>
                            <th class="text-center">Trạng thái</th>
                            <th class="text-center">Thứ tự</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count > 0)
                        {
                            int i = 0;
                            int k = 1000;
                            foreach (var item in Model)
                            {
                                i++;
                                <tr class="treegrid-@i tr-bg first-tree">
                                    <td><div>@item.Id .  @item.Name</div></td>
                                    <td class="text-center">
                                        @Html.Raw(item.Status)
                                    </td>
                                    <td class="text-center">@item.Sort</td>
                                    <td>
                                        @Html.Raw(CORE.APPLICATION.Query.UiHelper.ShowHtmlAction(item.Id))
                                    </td>
                                </tr>
                                k++;
                                foreach (var item1 in item.Child)
                                {
                                    int z = k;
                                    <tr class="treegrid-@k treegrid-parent-@i tr-bg">
                                        <td><div>@item.Id . @item1.Name</div></td>
                                        <td class="text-center">
                                            @Html.Raw(item.Status)
                                        </td>
                                        <td class="text-center">@item1.Sort</td>
                                        <td>
                                            @Html.Raw(CORE.APPLICATION.Query.UiHelper.ShowHtmlAction(item1.Id))
                                        </td>
                                    </tr>
                                    k++;
                                    foreach (var item2 in item1.Child)
                                    {
                                        <tr class="treegrid-@k treegrid-parent-@z tr-bg">
                                            <td><div>@item.Id . @item2.Name</div></td>
                                            <td class="text-center"> @Html.Raw(item.Status)</td>
                                            <td class="text-center">@item2.Sort</td>
                                            <td>
                                                @Html.Raw(CORE.APPLICATION.Query.UiHelper.ShowHtmlAction(item2.Id))
                                            </td>
                                        </tr>
                                        k++;
                                    }
                                }
                            }
                        }
                        else
                        {
                            <tr class="text-center" style="background-color:#fff">
                                <td colspan="9">Không có dữ liệu</td>
                            </tr>
                        }
                    </tbody>


                </table>
            </div>
        </div>
    </div>

    <!-- dataTable ends -->
</section>
<!-- Data list view end -->

@section Scripts{
    <!-- BEGIN: Page Vendor JS-->
    <script src="/app-assets/vendors/js/extensions/dropzone.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/datatables.buttons.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/datatables.bootstrap4.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/buttons.bootstrap.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/dataTables.select.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/datatables.checkboxes.min.js"></script>
    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Page JS-->
    <script src="/js/jquery.treegrid.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#treePage').treegrid();
            deleteDataTable("/zone/delete");
            editDataTable("@ViewBag.Url");
        });

    </script>
    <!-- END: Page JS-->
}





