﻿



@section Styles{
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/colors/palette-gradient.css">
}
<form id="frmProduct" action="/change-pass" method="post" >
    <div class="col-md-5 col-xs-12 mx-auto mt-4" >
        <div class="card ">
            <div class="card-header">
                <h4 class="card-title">Đổi mật khẩu</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <div class="form form-horizontal">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <label>Mật khẩu cũ: </label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" name="PassOld" placeholder="Mật khẩu cũ" required class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <label>Mật khẩu mới: </label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" name="PassNew" placeholder="Mật khẩu mới" required class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            
                                        </div>
                                        <div class="col-md-9">
                                            <button type="submit" class="btn btn-primary mr-1 mb-1 waves-effect waves-light">Cập nhật</button>
                                        </div>
                                    </div>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class=" col-4">
        @await Html.PartialAsync("_UCSave")
    </div>*@
</form>
@section Scripts{
   

    <!-- BEGIN: elfinder CSS-->
    <script>
        $(document).ready(function () {
            $("#frmProduct").submit(function (e) {
                e.preventDefault();

                submitForm_Messs($(this));
            });
        });


    </script>
}

