﻿
@model CORE.DATA.Entities.AppUser

@inject IBaseCache _cache
@inject IAppRoleUserService _roles

@{
    var lstRole = _cache.GetByAppRole();

    var lstRoleActive = _roles.FindAll(x => x.UserId == Model.Id);

    var lstEnterprises = _cache.GetByEnterprises();
}

@section VerdorStyles{
    <!-- BEGIN: Vendor CSS-->

    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/forms/select/select2.min.css">
    <!-- END: Vendor CSS-->
    <!-- BEGIN: FileManager CSS-->
    <link rel="stylesheet" href="/lib/jquery-ui/themes/base/theme.css" />
    <link rel="stylesheet" href="/lib/jquery-ui/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="/lib/elfinder/css/elfinder.full.css" />
    <link rel="stylesheet" href="/lib/elfinder/css/theme.css" />
    <link rel="stylesheet" href="/css/elfinder/themes/material/css/theme-gray.css" id="elfinder-theme" />
    <!-- BEGIN: FileManager CSS-->
}
@section Styles{
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/colors/palette-gradient.css">
}
<form id="frmProduct" action="/permission/add" method="post" class="row">
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="hidden" asp-for="DateCreated" />
    <input type="hidden" asp-for="DateModified" />
    <div class="col-8">
        <div class="card ">
            <div class="card-header">
                <h4 class="card-title">Thông tin Chính</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <div class="form form-horizontal">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-12">
                                    @if (Model.Id == null || Model.Id == Guid.Empty)
                                    {
                                        <div class="form-group row">
                                            <div class="col-md-3">
                                                <label>Tài khoản:</label>
                                            </div>
                                            <div class="col-md-4">
                                                <input asp-for="UserName" min="6" placeholder="Tài khoản đăng nhập" required class="form-control" />
                                            </div>
                                            <div class="col-md-2">
                                                <label>Mật khẩu:</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input asp-for="PasswordHash" type="password" placeholder="Mật khẩu" required class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-3">
                                                <label>Email:</label>
                                            </div>
                                            <div class="col-md-9">
                                                <input asp-for="Email" type="email" placeholder="Email" required class="form-control" />
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-group row">
                                            <div class="col-md-3">
                                                <label>Tài khoản: </label>
                                            </div>
                                            <div class="col-md-4">
                                                <b style="padding-top:5px;display:block">@Model.UserName</b>
                                                @*<input asp-for="UserName" placeholder="Tài khoản đăng nhập" required class="form-control" />*@
                                            </div>
                                            <div class="col-md-2">
                                                <label>Email:</label>
                                            </div>
                                            <div class="col-md-3">
                                                <b style="padding-top:5px;display:block">@Model.Email</b>
                                                @*<input asp-for="UserName" placeholder="Tài khoản đăng nhập" required class="form-control" />*@
                                            </div>
                                        </div>
                                    }
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <label>Họ tên: </label>
                                        </div>
                                        <div class="col-md-9">
                                            <input asp-for="FullName" placeholder="Họ tên" required class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <label>Điện thoại: </label>
                                        </div>
                                        <div class="col-md-3">
                                            <input asp-for="PhoneNumber" placeholder="Số điện thoại" required class="form-control" />
                                        </div>
                                        <div class="col-md-3">
                                            <label>Ngày sinh: </label>
                                        </div>
                                        <div class="col-md-3">
                                            <input asp-for="BirthDay" type="date" placeholder="Ngày sinh" required class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <label>Doanh nghiệp: </label>
                                        </div>
                                        <div class="col-md-9">
                                            <select asp-for="AppId" class="select2 form-control">
                                                <option value="">Chọn doanh nghiệp</option>
                                                @foreach (var item in lstEnterprises)
                                                {
                                                    <option value="@item.Key">@item.Value</option>
                                                }
                                            </select>
                                        </div>

                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <label>Chọn nhóm quyền: </label>
                                        </div>
                                        <div class="col-md-9">
                                            <select name="Roles" data-placeholder="Chọn nhóm quyền" class="select2 form-control" multiple>
                                                @foreach (var item in lstRole)
                                                {
                                                    if (lstRoleActive.Any(x => x.RoleId.ToString() == item.Key))
                                                    {
                                                        <option selected value="@item.Key">@item.Value.Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.Key">@item.Value.Name</option>
                                                    }

                                                }
                                            </select>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" col-4">
        @await Html.PartialAsync("_UCSave")
    </div>
</form>
@section Scripts{
    <!-- BEGIN: Page Vendor JS-->
    <script src="/app-assets/vendors/js/forms/select/select2.full.min.js"></script>
    <!-- BEGIN: Page Vendor JS-->

    <script src="/app-assets/js/scripts/forms/select/form-select2.js"></script>
    <!-- BEGIN: elfinder CSS-->

    <script src="/lib/jquery-ui/jquery-ui.min.js"></script>

    <!-- BEGIN: elfinder CSS-->
    <script>
        $(document).ready(function () {


            $("#frmProduct").submit(function (e) {
                e.preventDefault();

                submitForm($(this));
            });
        });


    </script>
}

