﻿@model PermissionVM


@section Styles{
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/pages/app-user.css">
    <style>
        .btn-save-permission {
            position: fixed;
            top: 30%;
            right: 10px;
            display: flex;
            flex-direction: column;
        }

            .btn-save-permission button {
                margin-bottom: 5px;
            }
    </style>
}


@await Html.PartialAsync("_UcPermission", Model.Actions)
<div class="btn-save-permission">
    <button id="save-per" class="btn btn-primary ">Lưu quyền</button>
    <button onclick="location.reload()" class="btn btn-warning ">Làm mới</button>
</div>


@section Scripts{
    <script>
        $("#save-per").on("click", function () {
            
            $("input[x-function]").each(function (index, item) {
                if ($(item).is(':checked')) {
                    console.log($(item).attr("x-function") + $(item).attr("x-value"));
                }
            });
        });
    </script>
}
