﻿
@model CORE.DATA.Entities.Product



@section VerdorStyles{
    <!-- BEGIN: Vendor CSS-->

    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/forms/select/select2.min.css">
    <!-- END: Vendor CSS-->
    <!-- BEGIN: FileManager CSS-->
    <link rel="stylesheet" href="/lib/jquery-ui/themes/base/theme.css" />
    <link rel="stylesheet" href="/lib/jquery-ui/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="/lib/elfinder/css/elfinder.full.css" />
    <link rel="stylesheet" href="/lib/elfinder/css/theme.css" />
    <link rel="stylesheet" href="/css/elfinder/themes/material/css/theme-gray.css" id="elfinder-theme" />
    <!-- BEGIN: FileManager CSS-->
}
@section Styles{
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/colors/palette-gradient.css">
}
<form id="frmProduct" action="/recruitment/add" method="post" class="row">
    @await Html.PartialAsync("Product/_UcMain", Model)
</form>

@section Scripts{
    <!-- BEGIN: Page Vendor JS-->
    <script src="/app-assets/vendors/js/forms/select/select2.full.min.js"></script>
    <!-- BEGIN: Page Vendor JS-->

    <script src="/app-assets/js/scripts/forms/select/form-select2.js"></script>
    <!-- BEGIN: elfinder CSS-->
    <script src="/lib/tinymce-dist/tinymce.min.js"></script>
    <script src="/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="/lib/elfinder/js/elfinder.full.js"></script>
    <!-- BEGIN: elfinder CSS-->
    <script>
        $(document).ready(function () {
            initTinymce();
            $(".add-img-one").on("click", function (e) {
                e.preventDefault();
                $("#elfinder").elFinderBrowser_Show($(this), AddImage_One);
            });
        });
        function AddImage_One(ele, url) {
            $(ele).closest(".thumb").find("img").attr("src", url);
        }

        $("#frmProduct").submit(function (e) {
            e.preventDefault();
            loadInfo();

            submitForm($(this));
        });
    </script>
}

