﻿@model List<Color>

@section VerdorStyles{
    <!-- BEGIN: Vendor CSS-->

    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/file-uploaders/dropzone.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/tables/datatable/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/tables/datatable/extensions/dataTables.checkboxes.css">
    <!-- END: Vendor CSS-->
}


@section Styles{
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/plugins/file-uploaders/dropzone.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/pages/data-list-view.css">

}

<section id="data-thumb-view" class="data-thumb-view-header">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table data-list-view">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Mã màu</th>
                            <th>Tên màu</th>
                            <th>Trạng thái</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td></td>
                                <td x-name="Id" x-value="@item.Id">
                                    <div style="background-color:@item.Id;border-radius:50% !important;width:50px;height:50px" class="text-center  colors-container rounded text-white  d-flex align-items-center justify-content-center mr-1 ml-50 my-1 shadow">
                                        <label class="feather icon-box align-middle"></label>
                                    </div>
                                </td>
                                <td x-name="Name" x-value="@item.Name">@item.Name</td>
                                <td x-name="Status" x-value="@CORE.APPLICATION.Query.UiHelper.ShowIntStatus(item.Status)">@Html.Raw(CORE.APPLICATION.Query.UiHelper.ShowHtmlStatus(item.Status))</td>
                                <td>@Html.Raw(CORE.APPLICATION.Query.UiHelper.ShowHtmlAction(item.Id))</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
   
    <!-- dataTable ends -->
    <!-- add new sidebar starts -->
    <div class="add-new-data-sidebar">
        <div class="overlay-bg"></div>
        <form id="frmSumit" class="add-new-data" method="post" action="/color/add">
            <div class="div mt-2 px-2 d-flex new-data-title justify-content-between">
                <div>
                    <h4 class="text-uppercase">Thông tin thuộc tính</h4>
                </div>
                <div class="hide-data-sidebar">
                    <i class="feather icon-x"></i>
                </div>
            </div>
            <div class="data-items pb-3" style="height: calc(100% - 15rem);">
                <div class="data-fields px-2 mt-3">
                    <div class="row">
                        <div class="col-sm-12 data-field-col text-center">
                            <p>Chọn màu</p>
                            <input type="color" style="width:100px;height:100px" placeholder="Chọn màu" name="Id" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 data-field-col">
                            <label for="data-name">Tên </label>
                            <input type="text" class="form-control" placeholder="Tên thuộc tính" name="Name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 data-field-col">
                            <label for="data-name">Trạng thái</label>
                            <select name="Status" class="form-control">
                                @await Html.PartialAsync("_UcStatus")
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="add-data-footer d-flex justify-content-around px-3 mt-2">
                <div>
                    <button type="submit" class="btn btn-primary">Cập nhật</button>
                </div>
                <div class="cancel-data-btn">
                    <button type="button" class="btn btn-outline-danger">Cancel</button>
                </div>
            </div>
        </form>
    </div>
    <!-- add new sidebar ends -->
</section>

@section Scripts{
    <!-- BEGIN: Page Vendor JS-->
    <script src="/app-assets/vendors/js/extensions/dropzone.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/datatables.buttons.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/datatables.bootstrap4.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/buttons.bootstrap.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/dataTables.select.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/datatables.checkboxes.min.js"></script>
    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Page JS-->
    <!-- END: Page JS-->

    <script>
        $(document).ready(function () {
            "use strict"
            $(".data-list-view").ClientDataTable(function () {
                $(this).removeClass("btn-secondary");
                $(".add-new-data").addClass("show");
                $(".overlay-bg").addClass("show");
                $("#frmSumit").trigger("reset");
            });

            $("#frmSumit").submit(function (e) {
                e.preventDefault();
                submitForm($(this));
            });
            deleteDataTable_S("/color/delete");
            editDataTable_S();
        });
    </script>
}





