﻿@model CORE.DATA.Entities.Product

@inject ITypeProductService iTypeProduct
@inject ITypeRecruitmentService iTypeRecruitment
@inject IBaseCache iProduct
@{
    List<SelectListItem> lstCat = iProduct.AllCateroryByType(Model.TypePost, Model.AppId).Select(x => new SelectListItem() { Text = x.Name, Value = x.Id.ToString() }).ToList();

}
<input type="hidden" asp-for="Id" />
<input type="hidden" asp-for="CreatedBy" />
<input type="hidden" asp-for="ModifiedBy" />
<input type="hidden" asp-for="DateCreated" />
<input type="hidden" asp-for="DateModified" />
<input type="hidden" asp-for="ViewCount" />
<input type="hidden" asp-for="Properties" />
<input type="hidden" asp-for="Type" />
<input type="hidden" asp-for="TypePost" />
<div class="col-md-8 col-xs-12">
    <div class="card ">
        <div class="card-header">
            <h4 class="card-title">Thông tin Chính</h4>
        </div>
        <div class="card-content">
            <div class="card-body">
                <div class="form form-horizontal">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <label>Mã định danh</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input asp-for="Code" placeholder="Mã định danh" required class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <label>Tiêu đề</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input asp-for="Name" required class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <label>Đường dẫn</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input asp-for="Sku" required class="form-control" />
                                    </div>
                                    <div class="col-md-1">
                                        <button type="button" class="btn btn-warning" onclick="genUrl('input[name=Sku]','input[name=Name]')" style="padding:10px"><i class="fa fa-tag"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <label>Danh mục</label>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <select asp-items="@lstCat" required class="select2 form-control" asp-for="ParentId">
                                                <option>Chọn danh mục</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @if (Model.Type == CORE.DATA.Enums.TypeContent.Product)
                            {
                                var typeP = new TypeProduct();
                                if (Model.Id > 0)
                                    typeP = iTypeProduct.FindById(Model.Id);

                                if (typeP == null)
                                {
                                    typeP = new TypeProduct();
                                }
                                @await Html.PartialAsync("Product/_UcTypeProduct", typeP)
                            }

                            @if (Model.Type == CORE.DATA.Enums.TypeContent.News && Model.TypePost == CORE.DATA.Enums.TypeNews.Recruitment)
                            {
                                var typeP = new TypeRecruitment();
                                if (Model.Id > 0)
                                    typeP = iTypeRecruitment.FindById(Model.Id);

                                if (typeP == null)
                                {
                                    typeP = new TypeRecruitment();
                                }
                                @await Html.PartialAsync("Product/_UcTypeRecruitment", typeP)

                            }
                            <div class="col-12 mt-2">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label>Mô tả</label>
                                    </div>
                                    <div class="col-md-12 ">
                                        <textarea asp-for="Description" class="tinymce"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-2">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label>Nội dung</label>
                                    </div>
                                    <div class="col-md-12 ">
                                        <textarea asp-for="Content" class="tinymce"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card ">
        <div class="card-header">
            <h4 class="card-title">SEO Page</h4>
        </div>
        <div class="card-content">
            <div class="card-body">
                <div class="form form-horizontal">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <label>Tiêu đề SEO</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input asp-for="SeoPageTitle" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <label>Mô tả Seo</label>
                                    </div>
                                    <div class="col-md-9">
                                        <textarea cols="3" asp-for="SeoDescription" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <label>Keywords SEO</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input asp-for="SeoKeywords" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class=" col-md-4 col-xs-12">
    @await Html.PartialAsync("_UCSave")
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Thông tin phụ</h4>
        </div>
        <div class="card-content">
            <div class="card-body">

                <div class="col-12 mt-2 form form-horizontal">
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label>Sắp xếp</label>
                        </div>
                        <div class="col-md-9 ">
                            <input asp-for="Order" required min="0" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label>Ngày xuất bản</label>
                        </div>
                        <div class="col-md-9 ">
                            <input asp-for="DatePublished" type="date" required min="0" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label>Trạng thái</label>
                        </div>
                        <div class="col-md-9 ">
                            <select asp-for="Status" class="form-control">
                                @await Html.PartialAsync("_UcStatus")
                            </select>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Hình ảnh</h4>
        </div>
        <div class="card-content">
            <div class="card-body">
                <div class="col-12 thumb pl-0 pr-0">
                    @{
                        string image = "/img/upload.png";
                        if (!String.IsNullOrEmpty(Model.Image))
                        {
                            image = CORE.UTILITY.MUtility.LoadImage(Model.Image, false);
                        }
                    }
                    <input asp-for="Image" hidden />
                    <img x-image="one" src="@image" class="img-responsive w-50 p-1" style="margin:auto;min-height:20px;display:inherit" />
                    <div class="hover-opaque">
                        <a href="#" class="add-img-one  font-large-2"><i class="fa fa-plus-circle"></i> </a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
