﻿@{
    var lstOrder = CORE.DATA.EnumHelper.ToList(typeof(CORE.DATA.Enums.SortFieldProduct),true);
}
<div class="action-btns d-none">
    <div class="btn-dropdown mr-1 mb-1">
        <div class="actions-select ml-1">
            <select class="form-control btn-outline-primary" id="mSort">
                @foreach (KeyValuePair<Enum, string> item in lstOrder)
                {
                    int val = (int)(CORE.DATA.Enums.SortFieldProduct)item.Key;
                    <option value="@val">@item.Value</option>
                }
            </select>
            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="SortDir" value="1" id="customRadio1" checked="">
                <label class="custom-control-label" for="customRadio1"><i class="fa fa-sort-amount-desc"></i></label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="SortDir" value="2" id="customRadio2">
                <label class="custom-control-label" for="customRadio2"><i class="fa fa-sort-amount-asc"></i></label>
            </div>
        </div>
    </div>
</div>
