﻿@model TypeRecruitment

<div class="col-12 mt-2">
    <div class="form-group row">
        <div class="col-md-2">
            <label>Hạn nộp</label>
        </div>
        <div class="col-md-4">
            <input asp-for="Deadline" type="date" required placeholder="Hạn nộp" class="form-control" />
        </div>
        <div class="col-md-2">
            <label>Mức lương</label>
        </div>
        <div class="col-md-4">
            <input asp-for="Salary"  required placeholder="Mức lương" class="form-control" />
        </div>
    </div>
</div>
<div class="col-12 ">
    <div class="form-group row">
        <div class="col-md-2">
            <label>Hình thức</label>
        </div>
        <div class="col-md-4">
            <select asp-for="WorkingForm" class="form-control">
                <option value="FullTime">Toàn thời gian</option>
                <option value="PartTime">Bán thời gian</option>
                <option value="InterShip">Thực tập</option>
            </select>
        </div>
        <div class="col-md-2">
            <label>Vị trí</label>
        </div>
        <div class="col-md-4">
            <input asp-for="Position"  required placeholder="Vị trí tuyển dụng" class="form-control" />
        </div>
    </div>
</div>
<div class="col-12 ">
    <div class="form-group row">
        <div class="col-md-2">
            <label>Nơi làm việc</label>
        </div>
        <div class="col-md-10">
           <input asp-for="Place"  required placeholder="Nơi làm việc" class="form-control"/>
        </div>
    </div>
</div>
<div class="col-12 ">
    <div class="form-group row">
        <div class="col-md-2">
            <label>Ngành nghề</label>
        </div>
        <div class="col-md-10">
            <input asp-for="Business" required placeholder="Ngành nghề" class="form-control" />
        </div>
    </div>
</div>