﻿@model TypeProduct
@inject IBaseCache iProduct
@{
    List<SelectListItem> lstBrand = iProduct.AllBrandByType().Select(x => new SelectListItem() { Text = x.Name, Value = x.Id.ToString() }).ToList();
    var lstColor = iProduct.AllColor();
}
<div class="col-12">
    <div class="notice-upload-image">
        <p>
            <b style="font-size: 14px;">Đăng nhiều ảnh để công cụ tìm kiếm dễ thấy bạn hơn!</b><br><i style="font-size: 11px; padding-top: 5px; color: rgb(102, 102, 102);">
                Kéo ảnh lên vị trí đầu tiên để chọn làm
                Thumbnail.
            </i>
        </p>
    </div>
    <div class="row text-center text-lg-start">
        <input name="AvatarArray" value="@Model.AvatarArray" hidden />
        <div class="col-12 flex-img " x-image="array">
            @foreach (var img in @CORE.UTILITY.MUtility.SplitStr(Model.AvatarArray))
            {
                <div class="col-2 thumb pl-0 pr-0" style="overflow: hidden; border:1px dashed #808080;border-radius:5%;">
                    <img src="@CORE.UTILITY.MUtility.LoadImage(img,false)" class="img-responsive  p-1" style="max-height:181px;">
                    <div class="hover-opaque">
                        <a href="#" class="remove-img font-large-2"><i class="feather icon-x-circle"></i> </a>
                    </div>
                </div>
            }
            <div class="col-2 thumb pl-0 pr-0">
                <img src="/img/upload.png" class="img-responsive w-100 p-1" />
                <div class="hover-opaque">
                    <a href="#" class="add-img  font-large-2"><i class="fa fa-plus-circle"></i> </a>
                </div>
            </div>
        </div>
    </div>
    <div class="notice-upload-image">
    </div>
</div>
<div class="col-12 mt-2">
    <div class="form-group row">
        <div class="col-md-2">
            <label>Số lượng</label>
        </div>
        <div class="col-md-3">
            <input asp-for="Quantity" required value="@Model.Quantity" type="number" placeholder="Số lượng tồn" class="form-control" />
        </div>
        <div class="col-md-2">
            <select asp-for="Unit" class="form-control">
                <option value="0">Chọn đơn vị</option>
                <option value="1">Cái</option>
                <option value="2">Chiếc</option>
            </select>
        </div>
        <div class="col-md-3 " style="margin-top:5px">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" asp-for="VAT" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Giá bao gồm VAT</label>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="form-group row">
        <div class="col-md-2 col-xs-6">
            <label>Giá tiền</label>
        </div>
        <div class="col-md-3 col-xs-6">
            <input asp-for="Price" type="number" min="0" required placeholder="Giá" class="form-control" />
        </div>
        <div class="col-md-3 col-xs-6">
            <input asp-for="DiscountPercent" min="0" required type="number" placeholder="Phần trăm giảm" class="form-control" />
        </div>
        <div class="col-md-3 col-xs-6">
            <input asp-for="DiscountPrice" required type="number" placeholder="Giá đã giảm" class="form-control" />
        </div>
    </div>
</div>

<div class="col-12 mt-2">
    <div class="form-group row">
        <div class="col-md-2">
            <label>Thương hiệu</label>
        </div>
        <div class="col-md-10">
            <select asp-items="@lstBrand" required class="select2 form-control" asp-for="BrandId">
                <option>Chọn thương hiệu</option>
            </select>
        </div>
    </div>
</div>
<div class="col-12 mt-2">
    <div class="form-group row">
        <div class="col-md-2">
            <label>Màu sắc</label>
        </div>
        <div class="col-md-10">
            <select data-placeholder="Chọn màu sắc" name="Colors" class="select2 form-control" multiple="multiple">
                @foreach (var item in lstColor)
                {
                    Model.ColorId = Model.ColorId ?? "";
                    if (Model.ColorId.Contains(item.Id))
                    {
                        <option selected value="@item.Id">@item.Name</option>
                    }
                    else
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                }
            </select>
        </div>
    </div>
</div>
<div class="col-12 mt-2">
    <div class="form-group row">
        <div class="col-md-2">
            <label>Sản phẩm mua kèm</label>
        </div>
        <div class="col-md-10">
            <input asp-for="BuyTogether"  type="text" placeholder="Sản phẩm mua kèm (Id sản phẩm ngăn cách bằng đấu ',')" class="form-control" />
        </div>
    </div>
</div>