﻿@{
    ViewData["Title"] = "Đơn hàng";
}

@section VerdorStyles{
    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/file-uploaders/dropzone.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/tables/datatable/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/tables/datatable/extensions/dataTables.checkboxes.css">
    <!-- END: Vendor CSS-->
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/plugins/file-uploaders/dropzone.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/pages/data-list-view.css">
    <link href="/css/datatables.responsive.css" rel="stylesheet" />
}

@{
    var lstTr = new List<FieldTable>()
{
                new FieldTable(){ Title = "Mã", Name="code" ,Sort=false,Class="col-md-1 col-xs-12 " , },
                //new FieldTable(){ Title = "Trạng thái",Name="status",Sort=false,Class="col-md-1 col-xs-12"},
                new FieldTable(){ Title = "Điện thoại ", Name="infoUser" ,Sort=false,Class="col-md-3 col-xs-12" },
                new FieldTable(){ Title = "Tổng tiền", Name="info" ,Sort=true,Class="col-md-3 col-xs-12" },
                new FieldTable(){ Title = "Ngày đặt",Name="time",Sort= true,Class="col-md-3 col-xs-12"},
                new FieldTable(){ Title = "Thao tác",Name="action",Sort=false,Class="col-md-1 col-xs-12"},
    };
}

@{
    var lstOrder = CORE.DATA.EnumHelper.ToList(typeof(CORE.DATA.Enums.StatusOrder), true);
    var status = (int)(CORE.DATA.Enums.StatusOrder)ViewBag.Status;
}



<ul class="nav nav-tabs" role="tablist" id="tab-list">
    @foreach (KeyValuePair<Enum, string> item in lstOrder)
    {
        int val = (int)(CORE.DATA.Enums.StatusOrder)item.Key;

        var active = "";
        if (val == status)
        {
            active = "active";
        }
        <li class="nav-item">
            <a class="nav-link @active" href="/order-@val" aria-controls="home" role="tab" aria-selected="true">@item.Value</a>
        </li>
    }
</ul>
@await Html.PartialAsync("_UcTable", lstTr)

<div class="data-thumb-view-header">
    <div class="add-new-data-sidebar">
        <div class="overlay-bg"></div>
        <form id="frmSumit" class="add-new-data w-100" method="post" >
            <div class="div mt-2 px-2 d-flex new-data-title justify-content-between">
                <div>
                    <h4 class="text-uppercase">Thông tin đơn hàng</h4>
                </div>
                <div class="hide-data-sidebar">
                    <i class="feather icon-x"></i>
                </div>
            </div>
            <div class="data-items pb-3">
                <div class="row mt-3 ">
                    <input type="hidden" name="status" value="@status" />
                    <div class="col-md-12 pl-2 pr-2" id="main_layout">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <!-- BEGIN: Page Vendor JS-->
    <script src="/app-assets/vendors/js/extensions/dropzone.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/datatables.buttons.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/datatables.bootstrap4.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/buttons.bootstrap.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/dataTables.select.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/datatables.checkboxes.min.js"></script>

    <script src="/js/datatables.responsive.js"></script>
    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Page JS-->

    <script src="~/app/controllers/order/index.js"></script>
    @*<script src="/app-assets/js/scripts/ui/data-list-view.js"></script>*@


}





