﻿
@{
    var AppId = this.User.FindFirst(CORE.UTILITY.SystemConstants.UserClaim.AppId).Value;
    var Roles = this.User.FindFirst(System.Security.Claims.ClaimTypes.Role).Value;
}
@*@inject IBaseCache services
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
        <li class="navigation-header">
            <span>Chức năng</span>
        </li>
        @foreach (var item in services.Menus(new List<string>()))
        {
            <li class=" nav-item">
                @if (item.Child.Any())
                {
                    <a href="#"><i class="@item.Icon"></i><span class="menu-title" data-i18n="@item.Name">@item.Name</span></a>

                    <ul class="menu-content">
                        @if (!String.IsNullOrEmpty(item.Url))
                        {
                            <li>
                                <a href="@item.Url"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="@item.Name">@item.Name</span></a>
                            </li>
                        }
                        @foreach (var Child in item.Child)
                        {
                            <li>
                                <a href="@Child.Url"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="@Child.Name">@Child.Name</span></a>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <a href="@item.Url"><i class="@item.Icon"></i><span class="menu-title" data-i18n="@item.Name">@item.Name</span></a>
                }
            </li>
        }
    </ul>*@
<ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
    <li class="navigation-header">
        <span>Chức năng</span>
    </li>
    <li class="nav-item">
        <a href="/enterprises/info/@AppId"><i class="feather icon-airplay"></i><span class="menu-title">Thông tin SHOP</span></a>
    </li>
    <li class="nav-item">
        <a href="/danh-muc-3"><i class=" feather icon-layers"></i><span class="menu-title">Danh mục</span></a>
    </li>
    <li class=" nav-item">
        <a href="/product"><i class="feather icon-message-square"></i><span class="menu-title">Sản phẩm</span></a>
    </li>
    <li class="nav-item">
        <a href="/promotions"><i class="feather icon-wifi"></i><span class="menu-title">Khuyến mại</span></a>
    </li>
    <li class="nav-item">
        <a href="/order"><i class=" feather icon-settings"></i><span class="menu-title">Đơn hàng</span></a>
    </li>
    <li class="nav-item">
        <a href="/customer"><i class=" feather icon-users"></i><span class="menu-title">Khách hàng</span></a>
    </li>
    <li class="nav-item">
        <a href="/qrcode"><i class=" fa fa-qrcode"></i><span class="menu-title">QR Code </span></a>
    </li>
    @if (Roles.Contains("Admin"))
    {
        <li class=" nav-item">
            <a href="#"><i class="feather icon-briefcase"></i><span class="menu-title">Hệ thống</span></a>
            <ul class="menu-content">
                <li>
                    <a href="/enterprises"><i class="feather icon-circle"></i><span class="menu-item">Doanh nghiệp</span></a>
                </li>
                <li>
                    <a href="/permission"><i class="feather icon-circle"></i><span class="menu-item">Tài khoản</span></a>
                </li>
            </ul>
        </li>
    }
</ul>