﻿
@model List<Actions>
@inject IBaseCache _cache

@{
    var function = _cache.GetByFunction();
}
<div class="col-12">
    <div class="card">
        <div class="card-header border-bottom mx-2 px-0">
            <h6 class="border-bottom py-1 mb-0 font-medium-2">
                <i class="feather icon-lock mr-50 "></i>Phân quyền
            </h6>
        </div>
        <div class="card-body px-75">
            <div class="table-responsive users-view-permission">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th>Chức năng</th>
                            <th>Xem</th>
                            <th>Sửa</th>
                            <th>Tạo</th>
                            <th>Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in function.Where(x=>x.Value.URL.Length >0))
                        {
                            var lstFunc = Model.Where(x => x.FunctionId == item.Key).ToList();
                            <tr>
                                <td>@item.Value.Name</td>
                                <td>
                                    <div class="custom-control custom-checkbox ml-50">
                                        @{
                                            var read = lstFunc.Any(a => a.Action == CORE.DATA.Enums.Action.Read) ? "checked" : "";
                                            var keyread = item.Key + CORE.DATA.Enums.Action.Read;
                                        }
                                        <input type="checkbox" x-value="@CORE.DATA.Enums.Action.Read" @read x-function="@item.Value.Base" id="@keyread" class="custom-control-input">
                                        <label class="custom-control-label" for="@keyread"></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="custom-control custom-checkbox ml-50">
                                        @{
                                            var write = lstFunc.Any(a => a.Action == CORE.DATA.Enums.Action.Write) ? "checked" : "";
                                            var keywrite = item.Key + CORE.DATA.Enums.Action.Write;
                                        }
                                        <input type="checkbox" x-value="@CORE.DATA.Enums.Action.Write" @write x-function="@item.Value.Base" id="@keywrite" class="custom-control-input">
                                        <label class="custom-control-label" for="@keywrite"></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="custom-control custom-checkbox ml-50">
                                        @{
                                            var create = lstFunc.Any(a => a.Action == CORE.DATA.Enums.Action.Create) ? "checked" : "";
                                            var keycreate = item.Key + CORE.DATA.Enums.Action.Create;
                                        }
                                        <input type="checkbox" x-value="@CORE.DATA.Enums.Action.Create" @create x-function="@item.Value.Base" id="@keycreate" class="custom-control-input">
                                        <label class="custom-control-label" for="@keycreate"></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="custom-control custom-checkbox ml-50">
                                        @{
                                            var delete = lstFunc.Any(a => a.Action == CORE.DATA.Enums.Action.Delete) ? "checked" : "";
                                            var keydelete = item.Key + CORE.DATA.Enums.Action.Delete;
                                        }
                                        <input type="checkbox" x-value="@CORE.DATA.Enums.Action.Delete" @delete x-function="@item.Value.Base" id="@keydelete" class="custom-control-input">
                                        <label class="custom-control-label" for="@keydelete"></label>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>