﻿<div class="card">
    <div class="card-header">
        <h4 class="card-title">Đăng bài</h4>
    </div>
    <div class="card-content">
        <div class="card-body">
            <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" checked id="chk_main">
                <label class="custom-control-label" for="chk_main">Chuyển về trang chủ</label>

            </div>
            <button type="submit" class="btn btn-primary mr-1 mb-1 waves-effect waves-light">Cập nhật</button>
            <button type="reset" onclick="location.reload()" class="btn btn-outline-warning mr-1 mb-1 waves-effect waves-light">Reset</button>
        </div>
    </div>
</div>