﻿@model List<FieldTable>
<section id="horizontal-vertical" class="data-thumb-view-header">
    <div class="card">
        <div class="card-body">
            
            <div class="table-responsive">
                <table class="table data-thumb-view dt-responsive nowrap ">
                    <thead>
                        <tr>
                            <th></th>
                            @foreach (var item in Model)
                            {
                                <th x-field="true" x-name="@item.Name" x-class="@item.Class" x-sort="@item.Sort">@item.Title</th>
                            }
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</section>