﻿@{
    ViewData["Title"] = "Trang chủ";
}
@model List<Advertisement>
<!--Slide-->
@{
    List<Block> blocks = new List<Block>();
    var dataFirst = Model.FirstOrDefault(x => x.Code == CORE.UTILITY.SystemConstants.Code_Adv.Slide_Home);


    try
    {
        if (dataFirst != null)
            blocks = CORE.APPLICATION.Query.ParseJson.ParseBlock(dataFirst.Info);
    }
    catch (Exception ex)
    {


    }
}
@if (blocks != null && blocks.Any())
{
    <div class="block05" uk-slideshow="animation: push">
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
            <ul class="uk-slideshow-items" uk-height-viewport="min-height: 300">
                @foreach (var item in blocks.OrderBy(x => x.Sort))
                {
                    <li>
                        <div class="uk-height-1-1 uk-position-cover uk-background-02 uk-flex uk-flex-middle">
                            <div class="uk-width-1-1 uk-section">
                                <div class="uk-container uk-container-expand-right" uk-toggle="cls: block05__container-expand-right; mode: media; media: @@m">
                                    <div class="uk-flex-middle uk-grid-144-m" uk-grid>
                                        <div class="uk-width-1-2@l uk-width-auto@xl uk-flex-last@l">
                                            <img src="@CORE.UTILITY.MUtility.LoadImage(item.Avatar,false)" alt="">
                                        </div>
                                        <div class="uk-width-expand">
                                            <div class="uk-text-center">
                                                <h2 class="uk-h2 block05__title">@item.Name</h2>
                                                <p class="block05__desc">@item.Description</p>
                                                <a href="@item.Url" class="block05__btn uk-button uk-button-secondary uk-button-large uk-border-pill">ĐẶT HÀNG ONLINE</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
            <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-position-medium uk-position-bottom"></ul>
        </div>
    </div>
}
<!--/Slide-->
<!--Coffee & More-->



@if (blocks != null && blocks.Any())
{

}

@{
    var data_Khoi_1 = Model.FirstOrDefault(x => x.Code == CORE.UTILITY.SystemConstants.Code_Adv.Khoi_1);

    blocks = new List<Block>();
    try
    {
        if (data_Khoi_1 != null)
            blocks = CORE.APPLICATION.Query.ParseJson.ParseBlock(data_Khoi_1.Info);
    }
    catch (Exception ex)
    { }
}
@if (blocks != null && blocks.Any())
{
    int i = 0;
    <div class="uk-child-width-1-2@m uk-grid-collapse uk-grid-match" uk-height-viewport="offset-bottom: false" uk-grid>
        @foreach (var item in blocks.OrderBy(x => x.Sort).Take(2))
        {
            i = i++;
            if ((i % 2) != 0)
            {
                <div>
                    <div uk-parallax="bgy: -150" class="block02__fixed uk-background-norepeat uk-background-cover uk-background-center-center" data-src="@CORE.UTILITY.MUtility.LoadImage(item.Avatar,false)" uk-img>
                        <div class="uk-cover-container">
                            <canvas width="640" height="640"></canvas>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div>
                    <div class="uk-background-01 uk-flex uk-flex-middle uk-background-norepeat uk-background-bottom-right" data-src="@CORE.UTILITY.MUtility.LoadImage(item.Avatar,false)" uk-img>
                        <div class="uk-width-1-1 uk-section">
                            <div class="uk-container">
                                <div class="uk-flex-center" uk-grid>
                                    <div class="uk-width-4-5@l uk-width-1-2@xl">
                                        <div class="uk-text-center" uk-scrollspy="cls: uk-animation-slide-bottom; target: > *; delay: 300; repeat: false">
                                            <h2 class="uk-h2 uk-text-center block01__title mb-30 mb-60-m">@item.Name</h2>
                                            <p class="uk-text-left block02__card__desc mb-40 mb-80-m">@item.Description</p>
                                            <a href="@item.Url" class="uk-button uk-button-secondary uk-button-large uk-border-pill block02__card__btn block02__card__btn--02">XEM MENU</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
}
<!--/Coffee & More-->
<!--Tea & Another-->
@{
    var data_Khoi_2 = Model.FirstOrDefault(x => x.Code == CORE.UTILITY.SystemConstants.Code_Adv.Khoi_2);

    blocks = new List<Block>();
    try
    {
        if (data_Khoi_1 != null)
            blocks = CORE.APPLICATION.Query.ParseJson.ParseBlock(data_Khoi_2.Info);
    }
    catch (Exception ex)
    { }
}
@if (blocks != null && blocks.Any())
{
    <div class="uk-child-width-1-2@m uk-grid-collapse uk-grid-match" uk-height-viewport="offset-bottom: false" uk-grid>
        <div>
            <div uk-parallax="bgy: -150" class="block02__fixed uk-background-norepeat uk-background-cover uk-background-center-center" data-src="@CORE.UTILITY.MUtility.LoadImage(item.Avatar,false)" uk-img>
                <div class="uk-cover-container">
                    <canvas width="640" height="640"></canvas>
                </div>
            </div>
        </div>
        <div class="uk-flex-first@m">
            <div class="uk-background-02 uk-flex uk-flex-middle uk-background-norepeat uk-background-bottom-left" data-src="images/Group-left.png" uk-img>
                <div class="uk-width-1-1 uk-section">
                    <div class="uk-container">
                        <div class="uk-flex-center" uk-grid>
                            <div class="uk-width-4-5@l uk-width-1-2@xl">
                                <div class="uk-text-center" uk-scrollspy="cls: uk-animation-slide-bottom; target: > *; delay: 300; repeat: false">
                                    <h2 class="uk-h2 uk-text-center block01__title mb-30 mb-60-m">Tea & Another</h2>
                                    <p class="uk-text-left block02__card__desc mb-40 mb-80-m">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero. Contrary to popular belief</p>
                                    <a href="" class="uk-button uk-button-secondary uk-button-large uk-border-pill block02__card__btn block02__card__btn--01">XEM MENU</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/Tea & Another-->
    <!--Snacks-->
}
<div class="uk-grid-collapse uk-grid-match" uk-height-viewport="offset-bottom: false" uk-grid>
    <div class="block02__fixed uk-width-expand uk-background-norepeat uk-background-cover" uk-parallax="bgy: -150" data-src="images/khoai-tay-chien1.png" uk-img>
        <div class="uk-cover-container">
            <canvas width="1920" height="1080"></canvas>
        </div>
    </div>
    <div class="uk-width-1-3@m">
        <div class="uk-card block02__card uk-text-center uk-flex uk-flex-column">
            <div class="uk-card-body uk-flex-1 uk-flex uk-flex-middle">
                <div class="uk-width-1-1" uk-scrollspy="cls: uk-animation-slide-bottom; target: > *; delay: 300; repeat: false">
                    <h2 class="uk-h2 uk-text-center block01__title mb-30 mb-60-m">Snacks</h2>
                    <p class="uk-text-left block02__card__desc mb-40 mb-80-m">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    <a href="" class="uk-button uk-button-secondary uk-button-large uk-border-pill block02__card__btn block02__card__btn--vang">XEM MENU</a>
                </div>
            </div>
            <div class="block02__card__footer" data-src="images/Frame.png" uk-img>

            </div>
        </div>
    </div>
    <div class="block02__fixed uk-width-expand uk-background-norepeat uk-background-cover" uk-parallax="bgy: -150" data-src="images/banh-snack-khoai-tay-nong-hoi1.png" uk-img>
        <div class="uk-cover-container">
            <canvas width="1920" height="1080"></canvas>
        </div>
    </div>
</div><!--/Snacks-->
<!--Liên hệ-->
<div class="uk-position-relative block01 uk-background-norepeat uk-background-cover uk-background-fixed" uk-parallax="bgy: -150" uk-height-viewport="offset-bottom: false" data-src="images/bg_lienhe.png" uk-img>
    <div class="uk-position-cover block01__overlay"></div>
    <div class="uk-flex uk-flex-middle" uk-height-viewport>
        <div class="uk-section uk-width-1-1 uk-position-relative uk-position-z-index">
            <div class="uk-container">
                <h2 class="uk-h2 uk-text-center block01__title mb-30 mb-60-m">Liên hệ</h2>
                <form class="uk-grid-small uk-flex-center uk-grid-52-m uk-grid-match" uk-grid uk-scrollspy="cls: uk-animation-slide-bottom; target: .animation; delay: 300; repeat: false">
                    <div class="uk-width-1-1">
                        <div class="uk-grid-small uk-child-width-auto" uk-grid>
                            <label><input class="uk-radio" type="radio" name="radio2" checked> <span class="block01__txt">Anh</span></label>
                            <label><input class="uk-radio" type="radio" name="radio2"> <span class="block01__txt">Chị</span></label>
                        </div>
                    </div>
                    <div class="uk-width-1-2@s">
                        <div class="uk-child-width-1-1 uk-grid-small uk-grid-30-m" uk-grid>
                            <div>
                                <input uk-toggle="cls: uk-form-large; mode: media; media: @@m" class="uk-input block01__input uk-border-rounded" type="text" placeholder="Họ và tên (bắt buộc)">
                            </div>
                            <div>
                                <input uk-toggle="cls: uk-form-large; mode: media; media: @@m" class="uk-input block01__input uk-border-rounded" type="text" placeholder="Số điện thoại">
                            </div>
                            <div>
                                <input uk-toggle="cls: uk-form-large; mode: media; media: @@m" class="uk-input block01__input uk-border-rounded" type="text" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-2@s">
                        <textarea class="uk-textarea block01__input uk-border-rounded" rows="5" placeholder="Nội dung chi tiết"></textarea>
                    </div>
                    <div class="uk-width-auto">
                        <button type="submit" uk-toggle="cls: uk-button-large; mode: media; media: @@m" class="animation uk-button block01__btn uk-button-secondary uk-border-pill">GỬI</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><!--/Liên hệ-->
<footer class="footer uk-section" uk-scrollspy="cls: uk-animation-slide-bottom; target: .animation; delay: 0; repeat: false">
    <div class="uk-container">
        <div class="uk-grid-80-m" uk-grid>
            <div class="uk-width-auto@m">
                <figure class="uk-text-center uk-text-left@m animation">
                    <a href=""><img src="images/logo_f.png" alt=""></a>
                </figure>
            </div>
            <div class="uk-width-expand">
                <div class="uk-flex-middle uk-grid-57-m" uk-grid>
                    <div class="uk-width-expand">
                        <div class="uk-child-width-1-3@m uk-grid-59-m" uk-grid>
                            <div class="animation">
                                <h5 class="uk-h5 footer__title">Hỗ trợ tư vấn</h5>
                                <ul class="uk-list footer__list1">
                                    <li>Điện thoại: +84 23 8350 2368 </li>
                                    <li>Địa chỉ: CT1A khu đô thị Văn quán</li>
                                    <li>Email: abc@gmail.com</li>
                                </ul>
                                <ul class="uk-child-width-auto uk-grid-small footer__list3" uk-grid>
                                    <li><a href="" uk-icon="icon: facebook; ratio: 1" uk-tooltip="Facebook"></a></li>
                                    <li><a href="" uk-icon="icon: twitter; ratio: 1" uk-tooltip="Twitter"></a></li>
                                    <li><a href="" uk-icon="icon: youtube; ratio: 1" uk-tooltip="Youtube"></a></li>
                                    <li><a href="" uk-icon="icon: linkedin; ratio: 1" uk-tooltip="Linkedin"></a></li>
                                </ul>
                            </div>
                            <div class="animation">
                                <h5 class="uk-h5 footer__title">Liên kết nhanh</h5>
                                <ul class="uk-list footer__list2">
                                    <li><a href="">Trang chủ</a></li>
                                    <li><a href="">Menu</a></li>
                                    <li><a href="">Blog</a></li>
                                    <li><a href="">Liên hệ</a></li>
                                </ul>
                            </div>
                            <div class="animation">
                                <h5 class="uk-h5 footer__title">Theo dõi chúng tôi</h5>
                                <form>
                                    <fieldset class="uk-fieldset">
                                        <div class="uk-margin">
                                            <input class="uk-input footer__input uk-border-pill" type="text" placeholder="Tên">
                                        </div>
                                        <div class="uk-margin">
                                            <input class="uk-input footer__input uk-border-pill" type="text" placeholder="Địa chỉ mail">
                                        </div>
                                        <div>
                                            <button type="submit" class="uk-button footer__btn uk-button-secondary uk-border-pill">SUBCRIBE</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-auto@m">
                        <a href="" class="animation"><img src="images/logoSaleNoti1.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>