﻿@model List<QRCode>

@section VerdorStyles{
    <!-- BEGIN: Vendor CSS-->

    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/file-uploaders/dropzone.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/tables/datatable/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/tables/datatable/extensions/dataTables.checkboxes.css">
    <!-- END: Vendor CSS-->
}


@section Styles{
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/plugins/file-uploaders/dropzone.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/pages/data-list-view.css">

}

<section id="data-thumb-view" class="data-thumb-view-header">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table data-list-view">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Mã</th>
                            <th class="col-md-2">QR Code</th>
                            <th>Tên </th>
                            <th>Trạng thái</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td></td>
                                <td>@item.Id</td>
                                <td>
                                    <div class="avatar-upload">
                                        <div class="avatar-edit">
                                            <a href="@CORE.UTILITY.MUtility.LoadImage(item.Image,false)" download><i class="feather icon-download-cloud"></i></a>

                                        </div>
                                        <div class="avatar-preview">
                                            <div id="imagePreview" style="background-image: url(@CORE.UTILITY.MUtility.LoadImage(item.Image));">
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>@item.Name</td>
                                <td>@Html.Raw(CORE.APPLICATION.Query.UiHelper.ShowHtmlStatus(item.Status))</td>
                                <td>@Html.Raw(CORE.APPLICATION.Query.UiHelper.ShowHtmlAction(item.Id))</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</section>

@section Scripts{
    <!-- BEGIN: Page Vendor JS-->
    <script src="/app-assets/vendors/js/extensions/dropzone.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/datatables.buttons.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/datatables.bootstrap4.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/buttons.bootstrap.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/dataTables.select.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/datatables.checkboxes.min.js"></script>
    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Page JS-->
    <!-- END: Page JS-->

    <script>
        $(document).ready(function () {
            "use strict"

            $(".data-list-view").ClientDataTable(function () {
                location.href = "/qrcode/info";
            });


            deleteDataTable_S("/qrcode/delete");
            editDataTable("/qrcode/info");
        });
    </script>
}





