﻿@{
    ViewData["Title"] = "Thêm/sửa khuyến mại";
}
@model CORE.DATA.Entities.QRCode


@{


}

@section VerdorStyles{
    <!-- BEGIN: Vendor CSS-->

    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/forms/select/select2.min.css">
    <!-- END: Vendor CSS-->
    <!-- BEGIN: FileManager CSS-->
    <link rel="stylesheet" href="/lib/jquery-ui/themes/base/theme.css" />
    <link rel="stylesheet" href="/lib/jquery-ui/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="/lib/elfinder/css/elfinder.full.css" />
    <link rel="stylesheet" href="/lib/elfinder/css/theme.css" />
    <link rel="stylesheet" href="/css/elfinder/themes/material/css/theme-gray.css" id="elfinder-theme" />
    <!-- BEGIN: FileManager CSS-->
}
@section Styles{
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/colors/palette-gradient.css">
}
<form id="frmProduct" action="/qrcode/add" method="post" class="row">

    <input type="hidden" asp-for="CreatedBy" />
    <input type="hidden" asp-for="ModifiedBy" />
    <input type="hidden" asp-for="DateCreated" />
    <input type="hidden" asp-for="DateModify" />
    <input type="hidden" asp-for="Status" />
    <input type="hidden" asp-for="AppId" />
    <input type="hidden" asp-for="Image" />
    <input type="hidden" asp-for="Id" />
    <div class="col-8">
        <div class="card ">
            <div class="card-header">
                <h4 class="card-title">Thông tin Chính</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <div class="form form-horizontal">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    @if (!String.IsNullOrEmpty(Model.Image))
                                    {
                                        <div class="form-group row">
                                            <div class="col-12">
                                                <div class="form-group row">
                                                    <div class="col-md-3">
                                                    </div>
                                                    <div class="col-4 col-xs-12  " style="margin:initial">
                                                        <div class="avatar-upload">
                                                            <div class="avatar-edit">
                                                                <a href="@CORE.UTILITY.MUtility.LoadImage(Model.Image,false)" download><i class="feather icon-download-cloud"></i></a>
                                                                @*<input type='file' name="fileImg" id="imageUpload" accept=".png, .jpg, .jpeg" />
                                                                    <label for="imageUpload"></label>*@
                                                            </div>
                                                            <div class="avatar-preview">
                                                                <div id="imagePreview" style="background-image: url(@CORE.UTILITY.MUtility.LoadImage(Model.Image));">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <label>Tên mô tả:</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input asp-for="Name" placeholder="Tên mô tả" required class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <label>Trạng thái</label>
                                        </div>
                                        <div class="col-md-3 col-xs-9">
                                            <select asp-for="Status" class="form-control">
                                                @await Html.PartialAsync("_UcStatus")
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <label></label>
                                        </div>
                                        <div class="col-md-3 col-xs-9">
                                            <div class="custom-control custom-checkbox mt-1">
                                                <input type="checkbox" class="custom-control-input" checked id="chk_main">
                                                <label class="custom-control-label" for="chk_main">Tự động tạo QRCode</label>
                                            </div>
                                        </div>
                                        <div id="url-qrcode" class="col-md-6 col-xs-9 hidden">
                                            <div class="custom-control custom-checkbox mb-2">
                                                <input type="text" class="form-control" asp-for="Url" placeholder="Đường dẫn tạo QRCode">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" col-4">
        @await Html.PartialAsync("_UCSave")
    </div>
</form>
@section Scripts{
    <!-- BEGIN: Page Vendor JS-->
    <script src="/app-assets/vendors/js/forms/select/select2.full.min.js"></script>
    <!-- BEGIN: Page Vendor JS-->

    <script src="/app-assets/js/scripts/forms/select/form-select2.js"></script>

    <!-- BEGIN: elfinder CSS-->
    <script src="/lib/tinymce-dist/tinymce.min.js"></script>
    <script src="/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="/lib/elfinder/js/elfinder.full.js"></script>
    <!-- BEGIN: elfinder CSS-->

    <script>
        $(document).ready(function () {
            $("#frmProduct").submit(function (e) {
                e.preventDefault();
                $(this).attr("action", $(this).attr("action") + "?ischeckauto=" + $("#chk_main").is(":checked"));


                submitForm($(this));
            });

            $("#chk_main").on("change", function () {
                $("#url-qrcode").toggleClass("hidden");
            });
        });


    </script>
}

