﻿@{
    ViewData["Title"] = "Doanh nghiệp";
}
@model List<Enterprise>


@section VerdorStyles{
    <!-- BEGIN: Vendor CSS-->

    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/file-uploaders/dropzone.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/tables/datatable/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/tables/datatable/extensions/dataTables.checkboxes.css">
    <!-- END: Vendor CSS-->
}


@section Styles{
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/plugins/file-uploaders/dropzone.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/pages/data-list-view.css">

}

<section id="data-thumb-view" class="data-thumb-view-header">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table data-list-view">
                    <thead>
                        <tr>
                            <th style="max-width:30px"></th>
                            <th class="col-1">Mã </th>
                            <th class="col-1">Hình ảnh </th>
                            <th class="col-5">Tên </th>
                            <th class="col-2">Ngày kết thúc </th>
                            <th class="col-1">Trạng thái</th>
                            <th class="col-1">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var Status = (int)(CORE.DATA.Enums.Status)item.Status;
                            <tr>
                                <td></td>
                                <td>
                                    @item.Id
                                </td>
                                <td>
                                    <img src="@CORE.UTILITY.MUtility.LoadImage(item.Avatar)" alt="Image">
                                </td>
                                <td>@item.Name</td>
                                <td>@item.EndDate.ToString("dd/MM/yyyy HH:mm")</td>
                                <td>@Html.Raw(CORE.APPLICATION.Query.UiHelper.ShowHtmlStatus(item.Status))</td>
                                <td>@Html.Raw(CORE.APPLICATION.Query.UiHelper.ShowHtmlAction(item.Id, item.Status))</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <!-- dataTable ends -->
    <!-- add new sidebar starts -->
    <!-- add new sidebar ends -->
</section>

@section Scripts{
    <!-- BEGIN: Page Vendor JS-->
    <script src="/app-assets/vendors/js/extensions/dropzone.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/datatables.buttons.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/datatables.bootstrap4.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/buttons.bootstrap.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/dataTables.select.min.js"></script>
    <script src="/app-assets/vendors/js/tables/datatable/datatables.checkboxes.min.js"></script>
    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Page JS-->
    <!-- END: Page JS-->

    <script>
        $(document).ready(function () {
            "use strict"
            $(".data-list-view").ClientDataTable(function () {
                location.href = "/enterprises/info";
            });

            deleteDataTable_S("/enterprises/delete");
            editDataTable("/enterprises/info");
            //editDataTable_S();
        });
    </script>
}





