﻿@{
    ViewData["Title"] = "Thêm/sửa khuyến mại";
}
@model CORE.DATA.Entities.Enterprise


@{

    var Roles = this.User.FindFirst(System.Security.Claims.ClaimTypes.Role).Value;

    string redirect = "";

    if (!Roles.Contains("Admin"))
    {
        redirect = "/";
    }

}

@section VerdorStyles{
    <!-- BEGIN: Vendor CSS-->

    <link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/forms/select/select2.min.css">
    <!-- END: Vendor CSS-->
    <!-- BEGIN: FileManager CSS-->
    <link rel="stylesheet" href="/lib/jquery-ui/themes/base/theme.css" />
    <link rel="stylesheet" href="/lib/jquery-ui/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="/lib/elfinder/css/elfinder.full.css" />
    <link rel="stylesheet" href="/lib/elfinder/css/theme.css" />
    <link rel="stylesheet" href="/css/elfinder/themes/material/css/theme-gray.css" id="elfinder-theme" />
    <!-- BEGIN: FileManager CSS-->
}
@section Styles{
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="/app-assets/css/core/colors/palette-gradient.css">
}
<form id="frmProduct" action="/enterprises/add" method="post" class="row" redirect="@redirect">

    <input type="hidden" asp-for="CreatedBy" />
    <input type="hidden" asp-for="ModifiedBy" />
    <input type="hidden" asp-for="DateCreated" />
    <input type="hidden" asp-for="DateModified" />
    <input type="hidden" asp-for="Status" />

    <input type="hidden" asp-for="AppId" />
    <input type="hidden" asp-for="Avatar" />
    <input type="hidden" asp-for="Avatar2" />
    <div class="col-8">
        <div class="card ">
            <div class="card-header">
                <h4 class="card-title">Thông tin Chính</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <div class="form form-horizontal">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        @{
                                            string image = "/img/upload.png";
                                            if (!String.IsNullOrEmpty(Model.Avatar))
                                            {
                                                image = CORE.UTILITY.MUtility.LoadImage(Model.Avatar, false);
                                            }
                                        }
                                        @*string image = "/img/upload.png";
                                            if (!String.IsNullOrEmpty(Model.Image))
                                            {
                                            image = CORE.UTILITY.MUtility.LoadImage(Model.Image, false);
                                            }*@
                                        <div class="col-12">
                                            <div class="form-group row">
                                                <div class="col-md-3">
                                                </div>
                                                <div class="col-4 col-xs-12  " style="margin:initial">
                                                    <div class="avatar-upload">
                                                        <div class="avatar-edit">
                                                            <input type='file' name="fileImg" id="imageUpload" accept=".png, .jpg, .jpeg" />
                                                            <label for="imageUpload"></label>
                                                        </div>
                                                        <div class="avatar-preview">
                                                            <div id="imagePreview" style="background-image: url(@image);">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="col-md-3">
                                                <label style="padding-top:10px">Logo trên: </label>
                                            </div>
                                            <div class="thumb col-md-3" style="margin:0">
                                                @{
                                                    string image = "/img/upload.png";
                                                    if (!String.IsNullOrEmpty(Model.Avatar))
                                                    {
                                                        image = CORE.UTILITY.MUtility.LoadImage(Model.Avatar, false);
                                                    }
                                                }
                                                <input asp-for="Avatar" hidden />
                                                <img x-image="one" src="@image" class="img-responsive w-50 p-1" style="margin:auto;min-height:20px;display:inherit" />
                                                <div class="hover-opaque">
                                                    <a href="#" class="add-img-one  font-large-2"><i class="fa fa-plus-circle"></i> </a>
                                                </div>
                                            </div>*@
                                        @*<div class="col-md-3">
                                                <label style="padding-top:10px">Logo dưới: </label>
                                            </div>
                                            <div class="thumb col-md-3" style="margin:0">
                                                @{
                                                    string image1 = "/img/upload.png";
                                                    if (!String.IsNullOrEmpty(Model.Avatar2))
                                                    {
                                                        image1 = CORE.UTILITY.MUtility.LoadImage(Model.Avatar2, false);
                                                    }
                                                }
                                                <input asp-for="Avatar2" hidden />
                                                <img x-image="one1" src="@image1" class="img-responsive w-50 p-1" style="margin:auto;min-height:20px;display:inherit" />
                                                <div class="hover-opaque">
                                                    <a href="#" class="add-img-one  font-large-2"><i class="fa fa-plus-circle"></i> </a>
                                                </div>
                                            </div>*@
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <label>Mã: </label>
                                        </div>
                                        @if (!String.IsNullOrEmpty(Model.Id))
                                        {
                                            <div class="col-md-6">
                                                <input asp-for="Id" type="hidden" />
                                                <label>@Model.Id</label>
                                            </div>
                                        }
                                        else
                                        {
                                            Model.Id = CORE.UTILITY.MUtility.TimeEpochNow();
                                            <div class="col-md-6">
                                                <input asp-for="Id" placeholder="Mã doanh nghiệp" required class="form-control" />
                                            </div>
                                        }
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <label>Tên doanh nghiệp:</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input asp-for="Name" placeholder="Tên doanh nghiệp" required class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <label>Địa chỉ:</label>
                                        </div>
                                        <div class="col-md-9 col-xs-9">
                                            <input asp-for="Address" type="text" placeholder="Địa chỉ" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <label>Điện thoại:</label>
                                        </div>
                                        <div class="col-md-3 col-xs-9">
                                            <input asp-for="Phone" type="text" placeholder="Điện thoại" required class="form-control" />
                                        </div>
                                        <div class="col-md-3">
                                            <label>Email:</label>
                                        </div>
                                        <div class="col-md-3 col-xs-9">
                                            <input asp-for="Email" type="text" placeholder="Email" required class="form-control" />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <label>Facebook:</label>
                                        </div>
                                        <div class="col-md-3 col-xs-9">
                                            <input asp-for="FaceBook" type="text" placeholder="Facebook" class="form-control" />
                                        </div>
                                        <div class="col-md-3">
                                            <label>Zalo:</label>
                                        </div>
                                        <div class="col-md-3 col-xs-9">
                                            <input asp-for="Linkedin" type="text" placeholder="Linkedin" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <label>Twiter:</label>
                                        </div>
                                        <div class="col-md-3 col-xs-9">
                                            <input asp-for="Twiter" type="text" placeholder="Twiter" class="form-control" />
                                        </div>
                                        <div class="col-md-3">
                                            <label>Youtube:</label>
                                        </div>
                                        <div class="col-md-3 col-xs-9">
                                            <input asp-for="Youtube" type="text" placeholder="Youtube" class="form-control" />
                                        </div>
                                    </div>
                                    @if (Roles.Contains("Admin"))
                                    {
                                        <div class="form-group row">
                                            <div class="col-md-3">
                                                <label>Ngày kết thúc:</label>
                                            </div>
                                            <div class="col-md-3 col-xs-9">
                                                <input asp-for="EndDate" type="date" placeholder="Ngày tháng" class="form-control" />
                                            </div>
                                            <div class="col-md-3">
                                                <label>Domain:</label>
                                            </div>
                                            <div class="col-md-3 col-xs-9">
                                                <input asp-for="Domain" type="text" placeholder="Domain" class="form-control" />
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <input type="hidden" asp-for="EndDate" />
                                        <input type="hidden" asp-for="Domain" />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" col-4">
        @await Html.PartialAsync("_UCSave")
    </div>
</form>
@section Scripts{
    <!-- BEGIN: Page Vendor JS-->
    <script src="/app-assets/vendors/js/forms/select/select2.full.min.js"></script>
    <!-- BEGIN: Page Vendor JS-->

    <script src="/app-assets/js/scripts/forms/select/form-select2.js"></script>

    <!-- BEGIN: elfinder CSS-->
    <script src="/lib/tinymce-dist/tinymce.min.js"></script>
    <script src="/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="/lib/elfinder/js/elfinder.full.js"></script>
    <!-- BEGIN: elfinder CSS-->

    <script>
        $(document).ready(function () {
            $("#frmProduct").submit(function (e) {
                e.preventDefault();
                try {
                    let valu = $("[x-image=one]").attr("src");
                    if (valu != "/img/upload.png") {
                        $("input[name=Avatar]").val(valu.replace("/Files", ""));
                    }
                } catch (e) {

                }

                try {
                    let valu = $("[x-image=one1]").attr("src");
                    if (valu != "/img/upload.png") {
                        $("input[name=Avatar2]").val(valu.replace("/Files", ""));
                    }
                } catch (e) {

                }
                submitForm_ExistImage($(this));
            });
            $(".add-img-one").on("click", function (e) {
                e.preventDefault();
                $("#elfinder").elFinderBrowser_Show($(this), AddImage_One);
            });
            $("#imageUpload").change(function () {
                readURL(this);
            });
        });

        function AddImage_One(ele, url) {
            $(ele).closest(".thumb").find("img").attr("src", url);
        }
    </script>
}

